html,
body {
	margin: auto;
	padding: 0;
	position: relative;
	height: auto;
	background-color: #fff;
	max-width: 1500px;
	letter-spacing: 0.03em;
	/* overflow-x: hidden; */
}

@font-face {
	font-family: "Nunito";
	src: url("./font/nunito-regular-webfont.woff2") format("woff2"), url("./font/nunito-regular-webfont.woff") format("woff");
	src: url("./font/nunito-regular.ttf") format("ttf");
	font-weight: normal;
	font-style: normal;
}

* {
	box-sizing: border-box;
	font-family: "Nunito", sans-serif;
}

.loader {
	border: 5px solid #f3f3f3;
	border-top: 5px solid red;
	border-radius: 50%;
	width: 50px;
	height: 50px;
	animation: spin 2s linear infinite;
	margin: 20% auto 0;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

@-webkit-keyframes spin {
	0% {
		-webkit-transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
	}
}

/* Slider */

.custom_slider::-webkit-scrollbar {
	width: 2px;
}

.custom_slider::-webkit-scrollbar-track {
	background: #f1f1f1;
	/* border-radius: 20px; */
}

.custom_slider::-webkit-scrollbar-thumb {
	background: red;
	/* border-radius: 10px; */
}

/* HEADER */

header {
	width: 100%;
	height: 43px;
	flex-wrap: nowrap;
	box-shadow: 0 8px 15px 1px rgb(0 0 0 / 10%);
	position: sticky;
	top: 0;
	z-index: 20;
	background-color: #fff;
}

#logo {
	background-image: url("./images/1597744820143.png");
	width: 170px;
	height: 40px;
	background-size: contain;
	background-repeat: no-repeat;
	margin-top: 4px;
	margin-left: -3px;
	filter: saturate(150%);
}

#hdDiv {
	padding-left: 5px;
	padding-right: 5px;
	background-color: #fff;
}

.mhp1138_videoErrorMessage {
	display: none;
}

.close {
	display: none;
}

header > div {
	/* width: 93%; */
	height: auto;
	margin: auto;
	display: flex;
	justify-content: space-between;
	font-size: 0.9em;
}

/* SEARCH ICON & MENU ICON */

#s-icon {
	/* background-image: url("images/loupe.svg"); */
	padding-top: 4px;
}

#m-icon {
	margin-right: -12px;
	position: relative;
}

#ip-m-icon {
	background-image: url("images/menu.svg");
	background-size: contain;
	background-repeat: no-repeat;
	width: 23px;
	height: 23px;
	margin-bottom: 7px;
	position: relative;
	margin-right: -10px;
}

/* NAV BAR */
nav {
	height: 27px;
	margin-top: 9px;
	outline: none;
}

nav ul {
	list-style: none;
	padding: 0;
	display: flex;
	cursor: pointer;
	margin: 0px;
	outline: none;
}

nav li {
	padding-left: 0.9em;
	outline: none;
}

/* Dropdown menu */
.dropdown-content {
	position: absolute;
	z-index: 10;
	width: 250px;
	height: 400px;
	right: -250px;
	top: 45px;
	display: flex;
	flex-flow: column nowrap;
	padding-top: 20px;
	background-color: #fff;
	border: 1px solid rgba(128, 128, 128, 0.418);
}

.dropdown-contentz {
	display: none;
}

#dropdown-content a,
#ip-dropdown-content a,
#category-cnt a,
#ip-category-cnt a {
	text-decoration: none;
	min-width: 50px;
	color: #ff0000;
	padding: 10px 10px;
	/* margin-left: 10px;
	margin-right: 10px; */
	text-transform: capitalize;
	font-size: 0.85em;
}

#dp-category-cnt a {
	text-decoration: none;
	width: 150px;
	text-align: left;
	color: #ff0000;
	padding: 8px;
	margin-left: 10px;
	margin-right: 10px;
	text-transform: capitalize;
	font-size: 0.9em;
}

#dp-category-cnt a:hover,
#category-cnt a:hover,
#ip-category-cnt a:hover {
	color: white;
	background-color: #ff0000;
}

/* search menu */
.search-bar-content {
	position: absolute;
	z-index: -20;
	width: 100%;
	height: 60px;
	margin: auto;
	right: 0;
	top: 45px;
	padding-top: 15px;
	background-color: #fff;
	border-left: 1px solid rgba(128, 128, 128, 0.418);
	z-index: -10;
	opacity: 1;
	transition: 0.3s;
}

#search-container {
	display: flex;
	border: 1px solid #ff0000;
	height: 25px;
	width: 100%;
	margin: auto;
	border-radius: 15px;
}

#dp-search-bar-content,
#ip-search-bar-content {
	width: 300px;
}

#s-cnt {
	margin: auto;
	width: 90%;
}

#search-container a {
	background-color: #fff;
	text-align: center;
}

#search-container button {
	background-color: #fff;
	border: none;
	width: auto;
	height: 21px;
	border-radius: 0px 15px 15px 0px;
	padding: 3px 6px 0px 6px;
	outline: none;
}

#search-container input {
	border: none;
	width: 100%;
	background-color: #fff;
	border-radius: 15px 0px 0px 15px;
	padding: 0px 15px;
	outline: none;
	font-size: 11px;
}

.search-bar-contentz {
	top: -100px;
	opacity: 0;
}

#iPad-nav,
#dp-nav {
	display: none;
}

.category-outer,
.ip-category-outer {
	background-color: #fff;
	width: 280px;
	height: auto;
	max-height: 83vh;
	padding: 15px 0 15px 10px;
	position: absolute;
	right: 0;
	top: 45px;
	z-index: -10;
	overflow-y: scroll;
	box-shadow: 0 8px 15px 1px rgb(0 0 0 / 15%);
	transition: 0.5s;
	border-radius: 0 0 0 10px;
}

.ip-category-outer {
	max-height: 85vh;
}

.dp-category-outer {
	background-color: #fff;
	width: auto;
	height: auto;
	padding: 30px 10px;
	z-index: -10;
	position: absolute;
	top: 55px;
	right: 5%;
	box-shadow: 0 8px 15px 1px rgb(0 0 0 / 15%);
	transition: 0.3s;
}

.dp-category-out {
	top: -500px;
}

.category-out {
	right: -400px;
}

#category-highlight,
#ip-category-highlight,
#dp-category-highlight {
	display: flex;
	flex-wrap: nowrap;
	color: #ff0000;
	width: 100%;
	justify-content: space-evenly;
	margin: auto;
	padding-bottom: 3px;
	border-bottom: 1.5px solid rgba(128, 128, 128, 0.37);
	display: none;
}

#dp-category-highlight {
	margin-bottom: 15px;
}

#category-cnt,
#ip-category-cnt {
	display: flex;
	flex-wrap: nowrap;
}

#category-cnt a,
#ip-category-cnt a {
	margin: auto 0px auto 0px;
}

#gy-click,
#ip-gy-click {
	width: 40%;
	height: auto;
	padding: 5px 20px;
	margin: 10px auto 3px auto;
	font-weight: bold;
	text-align: center;
	font-size: 0.85em;
}

#str-click,
#ip-str-click {
	width: 40%;
	height: auto;
	margin: 10px auto 3px auto;
	padding: 5px 20px;
	font-weight: bold;
	text-align: center;
	font-size: 0.85em;
}

#dp-str-click {
	width: auto;
	height: auto;
	margin: 10px -210px 3px 0;
	padding: 5px 20px;
	cursor: pointer;
	font-weight: bold;
}

#dp-gy-click {
	width: auto;
	height: auto;
	padding: 5px 20px;
	margin: 10px 20px 3px -210px;
	cursor: pointer;
	font-weight: bold;
}

.dp-str {
	display: grid;
	grid-template-columns: auto auto auto auto auto auto;
}

.dp-gy {
	display: grid;
	grid-template-columns: auto auto auto auto auto;
}

.str,
.gy,
.ip-str,
.ip-gy {
	display: grid;
	grid-template-columns: auto auto;
	grid-column-gap: 15px;
	margin: auto;
	padding: 5px;
}

.l-display {
	display: none;
}

.clr {
	background-color: #ff0000;
	color: #fff;
}

/* footer */

#bottomDiv {
	background-color: black;
	color: #fff;
	text-align: center;
	height: 25px;
	width: 100%;
	padding-top: 3px;
	margin-top: 20px;
}

#bottomDiv span {
	color: #ff0000;
}

#bottomDiv p {
	margin: 2px auto 2px auto;
	font-size: 0.7em;
}

#siteMap {
	width: 150px;
	height: auto;
	margin-top: 3px;
}

#contactInfo {
	width: 150px;
	height: auto;
	padding-left: 5px;
	padding-right: calc(100vw - 900px);
	margin-top: 15px;
	margin-right: 20px;
}

#siteMap p {
	padding-left: 5%;
	margin: 12px auto 2px auto;
	text-decoration: underline;
}

#siteMap ul li {
	margin: 5px auto;
}

footer {
	margin-top: 10px;
	background-color: rgba(56, 55, 55, 0.77);
}

footer a {
	text-decoration: none;
}

#topDiv {
	color: #fff;
	font-size: 0.7em;
	width: 100%;
	padding: 8px 7px 10px;
	height: auto;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

#topDiv a {
	text-decoration: none;
	color: #d6d2d2;
	padding: 2px 3px 2.1px;
	text-transform: capitalize;
}

#topDiv a:hover {
	color: red;
}

.contactInfo,
.email {
	display: flex;
	flex-wrap: nowrap;
}

.icon {
	margin-right: 7px;
	margin-top: 5px;
}

#fbk {
	background-image: url("images/facebook.svg");
	background-size: contain;
	background-repeat: no-repeat;
	width: 15px;
	height: 15px;
}

#twtr {
	background-image: url("images/twitter-social-logotype.svg");
	background-size: contain;
	background-repeat: no-repeat;
	width: 15px;
	height: 15px;
}

#telg {
	background-image: url("images/telegram.svg");
	background-size: contain;
	background-repeat: no-repeat;
	width: 15px;
	height: 15px;
}

#snapy {
	background-image: url("images/snapchat.svg");
	background-size: contain;
	background-repeat: no-repeat;
	width: 15px;
	height: 15px;
}

#mail {
	background-image: url("images/email.svg");
	background-size: contain;
	background-repeat: no-repeat;
	width: 15px;
	height: 15px;
}

#contactInfo > p {
	font-size: 11px;
	margin: 10px auto 0px auto;
	text-decoration: underline;
}

select > option {
	background-color: #fff;
	cursor: pointer;
}

.email p {
	margin-top: 8px;
}

.outer-wrapper {
	width: 48%;
	height: 180px;
	margin: 8px 1% 5px 1%;
	box-shadow: 0 10px 10px 1px rgb(0 0 0 / 10%);
	transition: 0.5s;
	border-radius: 10px;
}

.outer-wrapper:hover {
	transform: scale(1.03);
}

.thumb-wrapper {
	width: 100%;
	height: 78%;
	box-sizing: border-box;
	position: relative;
}

.time {
	position: absolute;
	width: auto;
	height: 22px;
	top: 0;
	right: 0;
	text-align: right;
	background-color: rgba(0, 0, 0, 0.5);
	color: #fff;
	padding: 2px 10px;
	border-radius: 0 10px 0 10px;
}

.info-wrapper {
	width: 100%;
	height: 40px;
	box-sizing: border-box;
}

.title {
	text-align: center;
	width: 100%;
	height: 16px;
	box-sizing: border-box;
	margin: 0px;
	font-size: 0.7em;
	padding: 3px;
	overflow: hidden;
}

.lk-vw {
	width: 100%;
	height: 20px;
	box-sizing: border-box;
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-around;
	font-size: 0.7em;
	padding-top: 3px;
}

.views,
.likes {
	width: auto;
	text-align: center;
	height: auto;
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-evenly;
	box-sizing: border-box;
}

.views p,
.likes p {
	margin: 0px;
	box-sizing: border-box;
	font-size: 0.9em;
	padding-top: 3px;
}

.likes p {
	margin: 0px;
	box-sizing: border-box;
	font-size: 0.9em;
	padding-right: 5px;
}

.views img {
	width: 13px;
	height: 15px;
	margin-right: 3px;
	padding-top: 2px;
}

.likes img {
	width: 20px;
	height: 13px;
	padding-top: 3.5px;
}

.container {
	/* border: 1px solid #ff0000; */
	width: 100%;
	height: auto;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	padding: 0px;
}

.play .half1 .v11,
.play .half1 .v12,
.play .half1 .v13,
.play .half1 .v14,
.play .half1 .v15,
.play .half1 .v16,
.play .half1 .v17,
.play .half1 .v18,
.play .half1 .v19,
.play .half1 .v20,
.play .half1 .v22,
.play .half1 .v25,
.play .half1 .v26,
.play .half1 .v27,
.play .half1 .v28,
.play .half1 .v29,
.play .half1 .v30,
.play .half1 .v24,
.play .half1 .v23,
.play .half1 .v21 {
	display: none;
}

.play .half2 .v1,
.play .half2 .v2,
.play .half2 .v3,
.play .half2 .v4,
.play .half2 .v5,
.play .half2 .v6,
.play .half2 .v7,
.play .half2 .v8,
.play .half2 .v9,
.play .half2 .v10 {
	display: none;
}

.half1 .v11,
.half1 .v12,
.half1 .v13,
.half1 .v14,
.half1 .v15,
.half1 .v16,
.half1 .v17,
.half1 .v18,
.half1 .v19,
.half1 .v20 {
	display: none;
}

.half2 .v1,
.half2 .v2,
.half2 .v3,
.half2 .v4,
.half2 .v5,
.half2 .v6,
.half2 .v7,
.half2 .v8,
.half2 .v9,
.half2 .v10 {
	display: none;
}

.half1,
.half2,
.half3 {
	width: 100%;
	height: auto;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	padding: 0px;
	min-height: 300px;
}

.videoByCategory .container {
	display: block;
}

.containerID,
.containerPV {
	/* border: 1px solid #ff0000; */
	width: 100%;
	height: auto;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	padding: 0px;
	/* justify-content: space-between; */
}

.nxt {
	margin: 10px auto;
	width: 100%;
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
}

.nxt a {
	text-decoration: none;
	color: #ff0000;
	font-size: 0.8em;
	padding-left: 3px;
	padding-right: 3px;
}

.indexHd {
	display: flex;
	flex-wrap: nowrap;
	margin: auto;
	height: auto;
	width: 100%;
	padding: 10px 15px 0px 10px;
	justify-content: space-between;
	font-size: 0.72em;
}

.indexHd a {
	text-decoration: none;
	color: #ff0000;
	/* margin-right: 20px; */
}

.outer-container {
	margin: 15px auto 0;
	width: 100%;
	min-height: calc(100vh - 233px);
	padding-left: 5px;
	padding-right: 5px;
	opacity: 0.3;
	/* pointer-events: none; */
}

.rm_Blur {
	opacity: 1;
	pointer-events: all;
}

.thumb-wrapper img {
	width: 100%;
	height: 100%;
	border-radius: 10px;
	image-rendering: auto;
	image-rendering: crisp-edges;
	image-rendering: pixelated;
}

/* pornStar page */
.art-cnt {
	width: 48%;
	height: auto;
	margin: 10px 1% 0px 1%;
	box-shadow: 1px 1.2px 5px rgba(0, 0, 0, 0.384);
}

.dp {
	width: auto;
	height: auto;
}

.nm {
	padding: 5px;
	text-align: center;
	text-transform: capitalize;
	font-size: 0.7em;
}

.dp img {
	width: 100%;
	height: 150px;
	box-sizing: border-box;
}

#conOne .a11,
#conOne .a12,
#conOne .a13,
#conOne .a14,
#conOne .a15,
#conOne .a16,
#conOne .a17,
#conOne .a18,
#conOne .a19,
#conOne .a20 {
	display: none;
}

#conTwo .a1,
#conTwo .a2,
#conTwo .a3,
#conTwo .a4,
#conTwo .a5,
#conTwo .a6,
#conTwo .a7,
#conTwo .a8,
#conTwo .a9,
#conTwo .a10 {
	display: none;
}

.hide {
	visibility: hidden;
}

/* Video page css */
#ad-container {
	display: none;
}

#ad-container > div {
	margin: auto;
	width: 100%;
	height: 250px;
	padding: 0 5px;
}

#videoDiv {
	width: 100%;
	height: auto;
	margin: auto;
}

#iframe-container {
	width: 100%;
	height: 180px;
	box-sizing: border-box;
}

#tag-T {
	color: black;
	width: 100%;
	box-sizing: border-box;
}

#tags a {
	color: #ff0000;
	text-decoration: none;
	margin-right: 10px;
}

#tle {
	display: flex;
	flex-wrap: nowrap;
	margin-bottom: 5px;
	margin-top: 5px;
	font-size: 0.8em;
	width: inherit;
	box-sizing: border-box;
}

#tags {
	display: flex;
	flex-wrap: nowrap;
	margin-bottom: 5px;
	font-size: 0.8em;
	width: inherit;
	box-sizing: border-box;
}

#ads-extend {
	display: none;
}

.t {
	margin: 0px;
	padding-left: 5px;
	padding-right: 5px;
	box-sizing: border-box;
}

.x {
	margin: 0px;
	box-sizing: border-box;
}

#relatedVideoWrapper {
	width: 100%;
	height: 300px;
	margin: auto;
	border: 1px solid #ff0000;
	box-sizing: border-box;
}

#l-Ad {
	display: none;
}

.advert {
	width: 98%;
	height: 560px;
	margin: 10px auto;
	padding: 10px;
	border: 0.5px solid rgb(216, 213, 213);
	/* box-shadow: 0 10px 10px 1px rgb(0 0 0 / 10%); */
}

.advert.adjust {
	height: 250px;
}

.ipAd,
.dpAd,
.mAd,
.tAd {
	/* display: flex; */
	/* justify-content: space-evenly; */
	padding: 0px;
	height: 100%;
	width: 100%;
}

.fAd {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	padding: 0px;
	height: 100%;
	width: 100%;
}

.mAds {
	width: auto;
	height: 100%;
	background-color: transparent;
}

.ipAds {
	/* flex-basis: calc(100% / 3); */
	padding: 0 4px;
	width: auto;
	height: 100%;
	background-color: transparent;
}

.dpAds {
	/* flex-basis: calc(100% / 6); */
	padding: 0 5px;
	width: auto;
	height: 100%;
	background-color: transparent;
}

.mAds1 {
	width: 100%;
	height: 100%;
}

.mblA {
	width: 100%;
	height: 100%;
}

.ipl1A,
.ipl2A,
.ipl3A,
.ipl4A,
.ipl1B,
.ipl2B,
.ipl3B,
.ipl4B,
.ipl1C,
.ipl2C,
.ipl3C,
.ipl4C,
.tbl1A,
.tbl2A,
.tbl3A,
.tbl4A,
.tbl1B,
.tbl2B,
.tbl3B,
.tbl4B,
.tbl1C,
.tbl2C,
.tbl3C,
.tbl4C,
.dpl1A,
.dpl2A,
.dpl3A,
.dpl4A,
.dpl1B,
.dpl2B,
.dpl3B,
.dpl4B,
.dpl1C,
.dpl2C,
.dpl3C,
.dpl4C,
.dpl1D,
.dpl2D,
.dpl3D,
.dpl4D,
.dpl1E,
.dpl2E,
.dpl3E,
.dpl4E,
.mbl1A,
.mbl1B,
.mbl1C,
.mbl2A,
.mbl2B,
.mbl2C,
.mbl3A,
.mbl3B,
.mbl3C,
.mbl4A,
.mbl4B,
.mbl4C {
	margin: auto;
	text-align: center;
	width: 100%;
	height: 100%;
}

.base-advert {
	width: 98%;
	height: 560px;
	margin: 10px auto;
	padding: 10px;
	border: 0.5px solid rgb(216, 213, 213);
	/* box-shadow: 0 10px 10px 1px rgb(0 0 0 / 10%); */
}

.mhp1138_container .mhp1138_eventCatcher {
	pointer-events: none;
}

@media screen and (max-width: 350px) {
	#l-Ad {
		display: none;
	}

	#iframe-container {
		width: 100%;
		height: 150px;
		box-sizing: border-box;
	}
}

/* Media query for min screen = 410 */
@media screen and (min-width: 410px) and (max-width: 450px) {
	header > div {
		/* width: 90%; */
		height: auto;
		margin: auto;
		display: flex;
		justify-content: space-between;
	}

	#iframe-container {
		width: 100%;
		height: 200px;
		box-sizing: border-box;
	}

	.outer-wrapper {
		margin: 8px 3.5px 5px 3.5px;
	}

	.container {
		/* border: 1px solid #ff0000; */
		width: 100%;
		height: auto;
		margin: auto;
	}

	#contactInfo {
		padding-right: calc(100vw - 700px);
	}

	#l-Ad {
		display: none;
	}
}

/* Media query for min screen = 450 */
@media screen and (min-width: 451px) and (max-width: 600px) {
	header > div {
		/* width: 90%; */
		height: auto;
		margin: auto;
		display: flex;
		justify-content: space-between;
	}

	.container {
		/* border: 1px solid #ff0000; */
		width: 100%;
		height: auto;
		margin: auto;
	}

	.outer-wrapper {
		height: 230px;
	}

	.thumb-wrapper {
		height: 82%;
	}

	#iframe-container {
		width: 65%;
		height: 220px;
		box-sizing: border-box;
	}

	#videoDiv {
		width: 99%;
	}

	#up2 {
		display: flex;
		flex-wrap: nowrap;
		justify-content: space-between;
	}

	#ad-container {
		display: block;
		width: 170px;
		height: 220px;
	}

	.adjust {
		display: none;
	}

	#ad-container .mblC {
		width: 100%;
	}

	#contactInfo {
		padding-right: calc(100vw - 700px);
	}

	#l-Ad {
		display: none;
	}

	.category-outer,
	.ip-category-outer {
		max-height: 80vh;
		width: 300px;
	}

	#dropdown-content a,
	#ip-dropdown-content a,
	#category-cnt a,
	#ip-category-cnt a {
		text-decoration: none;
		min-width: 110px;
		color: #ff0000;
		padding: 10px 15px;
		text-transform: capitalize;
		font-size: 0.95em;
	}

	#gy-click,
	#ip-gy-click {
		width: 40%;
		height: auto;
		padding: 5px 20px;
		margin: 10px auto 3px auto;
		font-weight: bold;
		text-align: center;
		font-size: 0.95em;
	}

	#str-click,
	#ip-str-click {
		width: 40%;
		height: auto;
		margin: 10px auto 3px auto;
		padding: 5px 20px;
		font-weight: bold;
		text-align: center;
		font-size: 0.95em;
	}

	.advert,
	.base-advert {
		height: 700px;
	}

	.tAds {
		width: auto;
		height: 100%;
		background-color: transparent;
	}

	#ad-container > div {
		margin: auto;
		width: 100%;
		height: 220px;
		padding: 0;
	}
}

/* Media Query for min screen = 700px */

@media screen and (min-width: 600px) and (max-width: 900px) {
	#mobile-nav,
	#dp-nav {
		display: none;
	}

	#iPad-nav {
		display: block;
		height: 35px;
		margin-top: 10px;
		outline: none;
	}

	.nxt {
		width: 100%;
		display: flex;
		flex-wrap: nowrap;
		justify-content: space-between;
	}

	.adjust {
		display: none;
	}

	.pornStarList .half1 .v9 {
		display: block;
	}

	.pornStarList .half2 .v9 {
		display: none;
	}

	.half1 .v9,
	.half1 .v10,
	.half1 .v11,
	.half1 .v12,
	.half1 .v13,
	.half1 .v14,
	.half1 .v15,
	.half1 .v16,
	.half1 .v17,
	.half1 .v18,
	.half1 .v19,
	.half1 .v20 {
		display: none;
	}

	.half2 .v9,
	.half2 .v10 {
		display: block;
	}

	.half2 .v1,
	.half2 .v2,
	.half2 .v3,
	.half2 .v4,
	.half2 .v5,
	.half2 .v6,
	.half2 .v7,
	.half2 .v8 {
		display: none;
	}

	.play .half1 .v13,
	.play .half1 .v14,
	.play .half1 .v15,
	.play .half1 .v16,
	.play .half1 .v17,
	.play .half1 .v18,
	.play .half1 .v19,
	.play .half1 .v20 {
		display: none;
	}

	.play .half2 .v9,
	.play .half2 .v10,
	.play .half1 .v9,
	.play .half1 .v10,
	.play .half1 .v11,
	.play .half1 .v12 {
		display: block;
	}

	.play .half2 .v1,
	.play .half2 .v2,
	.play .half2 .v3,
	.play .half2 .v4,
	.play .half2 .v5,
	.play .half2 .v6,
	.play .half2 .v7,
	.play .half2 .v8,
	.play .half2 .v9,
	.play .half2 .v10,
	.play .half2 .v11,
	.play .half2 .v12 {
		display: none;
	}

	.hide {
		visibility: hidden;
	}

	header h3 {
		font-size: 1.25em;
		margin-top: 15px;
	}

	header > div {
		/* width: 93%; */
		height: auto;
		margin: auto;
		display: flex;
		justify-content: space-between;
	}

	#conOne .a9,
	#conOne .a10,
	#conOne .a11,
	#conOne .a12,
	#conOne .a13,
	#conOne .a14,
	#conOne .a15,
	#conOne .a16,
	#conOne .a17,
	#conOne .a18,
	#conOne .a19,
	#conOne .a20 {
		display: none;
	}

	#conTwo .a1,
	#conTwo .a2,
	#conTwo .a3,
	#conTwo .a4,
	#conTwo .a5,
	#conTwo .a6,
	#conTwo .a7,
	#conTwo .a8 {
		display: none;
	}

	#conTwo .a9,
	#conTwo .a10 {
		display: block;
	}

	.category-outer,
	.ip-category-outer {
		max-height: 80vh;
		width: 400px;
	}

	#dropdown-content a,
	#ip-dropdown-content a,
	#category-cnt a,
	#ip-category-cnt a {
		text-decoration: none;
		min-width: 110px;
		color: #ff0000;
		padding: 10px 15px;
		text-transform: capitalize;
		font-size: 1.3em;
	}

	#gy-click,
	#ip-gy-click {
		width: 40%;
		height: auto;
		padding: 5px 20px;
		margin: 10px auto 3px auto;
		font-weight: bold;
		text-align: center;
		font-size: 1.3em;
	}

	#str-click,
	#ip-str-click {
		width: 40%;
		height: auto;
		margin: 10px auto 3px auto;
		padding: 5px 20px;
		font-weight: bold;
		text-align: center;
		font-size: 1.3em;
	}

	.container {
		/* border: 1px solid #ff0000; */
		width: 100%;
		height: auto;
		margin: auto;
	}

	#contactInfo {
		padding-right: calc(100vw - 700px);
	}

	.thumb-wrapper img {
		width: 100%;
		height: 100%;
	}

	.outer-wrapper {
		width: 24%;
		height: 180px;
		margin: 8px 0.5% 5px 0.5%;
	}

	.thumb-wrapper {
		width: 100%;
		height: 78%;
		box-sizing: border-box;
		position: relative;
	}

	.info-wrapper {
		width: 100%;
		height: 40px;
		box-sizing: border-box;
	}

	.title {
		text-align: center;
		width: 100%;
		height: 16px;
		box-sizing: border-box;
	}

	.lk-vw {
		width: 100%;
		height: 20px;
		box-sizing: border-box;
		display: flex;
		flex-wrap: nowrap;
		justify-content: space-around;
	}

	.views,
	.likes {
		width: auto;
		text-align: center;
		height: auto;
	}

	.views p,
	.likes p {
		margin: 0px;
		box-sizing: border-box;
		font-size: 0.9em;
		padding-top: 3px;
	}

	.likes img {
		width: 20px;
		height: 13px;
		padding-top: 3.5px;
	}

	#videoDiv {
		width: 100%;
		height: auto;
		margin: auto;
	}

	#up2 {
		display: flex;
		flex-wrap: nowrap;
		justify-content: space-between;
		box-sizing: border-box;
		padding: 0px 5px 0px 5px;
	}

	#iframe-container {
		width: 67%;
		height: 250px;
	}

	#ad-container {
		display: block;
		width: 32%;
		height: 249px;
	}

	#ad-container .mblC {
		width: 100%;
	}

	.container {
		/* border: 1px solid #ff0000; */
		width: 100%;
		height: auto;
		margin: auto;
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		/* justify-content: space-between; */
	}

	/* pornStar page */
	.art-cnt {
		width: 32%;
		height: auto;
		margin: 10px 0.66% 0px 0.66%;
		box-shadow: 1px 1.2px 5px rgba(0, 0, 0, 0.384);
	}

	.dp {
		width: auto;
		height: auto;
	}

	.nm {
		text-align: center;
		text-transform: capitalize;
		font-size: 0.7em;
		padding: 5px;
	}

	.dp img {
		width: 100%;
		height: 160px;
		box-sizing: border-box;
	}

	#l-Ad {
		display: none;
	}

	.advert,
	.base-advert {
		width: 98%;
		height: 320px;
	}

	.play .outer-container {
		margin: 15px auto 0;
	}
}

/* Media Query for min screen = 900px */

@media screen and (min-width: 900px) and (max-width: 1200px) {
	#mobile-nav,
	#dp-nav {
		display: none;
	}

	#iPad-nav {
		display: block;
		outline: none;
	}

	.adjust {
		display: none;
	}

	#wrapper {
		min-height: calc(100vh - 468px);
	}

	.mAds3 {
		width: 100%;
	}

	.nxt {
		width: 100%;
		display: flex;
		flex-wrap: nowrap;
		justify-content: space-between;
	}

	.pornStarList .half2 .v10 {
		display: block;
	}

	.pornStarList .half1 .v10 {
		display: none;
	}

	.category-outer,
	.ip-category-outer {
		max-height: 80vh;
		width: 400px;
	}

	#dropdown-content a,
	#ip-dropdown-content a,
	#category-cnt a,
	#ip-category-cnt a {
		text-decoration: none;
		min-width: 110px;
		color: #ff0000;
		padding: 10px 15px;
		text-transform: capitalize;
		font-size: 1.3em;
	}

	#gy-click,
	#ip-gy-click {
		width: 40%;
		height: auto;
		padding: 5px 20px;
		margin: 10px auto 3px auto;
		font-weight: bold;
		text-align: center;
		font-size: 1.3em;
	}

	#str-click,
	#ip-str-click {
		width: 40%;
		height: auto;
		margin: 10px auto 3px auto;
		padding: 5px 20px;
		font-weight: bold;
		text-align: center;
		font-size: 1.3em;
	}

	.hide {
		visibility: hidden;
	}

	header h3 {
		font-size: 1.25em;
		margin-top: 15px;
	}

	header > div {
		/* width: 93%; */
		height: auto;
		margin: auto;
		display: flex;
		justify-content: space-between;
	}

	#conOne .a11,
	#conOne .a12,
	#conOne .a13,
	#conOne .a14,
	#conOne .a15,
	#conOne .a16,
	#conOne .a17,
	#conOne .a18,
	#conOne .a19,
	#conOne .a20 {
		display: none;
	}

	#conTwo .a1,
	#conTwo .a2,
	#conTwo .a3,
	#conTwo .a4,
	#conTwo .a5,
	#conTwo .a6,
	#conTwo .a7,
	#conTwo .a8,
	#conTwo .a9,
	#conTwo .a10 {
		display: none;
	}

	#conOne .a8,
	#conOne .a9,
	#conOne .a10 {
		display: block;
	}

	.play .half1 .v11,
	.play .half1 .v13,
	.play .half1 .v14,
	.play .half1 .v15,
	.play .half1 .v12,
	.play .half1 .v16,
	.play .half1 .v17,
	.play .half1 .v18,
	.play .half1 .v19,
	.play .half1 .v20 {
		display: none;
	}

	.play .half2 .v1,
	.play .half2 .v2,
	.play .half2 .v3,
	.play .half2 .v4,
	.play .half2 .v5,
	.play .half2 .v6,
	.play .half2 .v7,
	.play .half2 .v8,
	.play .half2 .v9,
	.play .half2 .v10 {
		display: none;
	}

	.half1 .v11,
	.half1 .v13,
	.half1 .v14,
	.half1 .v15,
	.half1 .v12,
	.half1 .v16,
	.half1 .v17,
	.half1 .v18,
	.half1 .v19,
	.half1 .v20 {
		display: none;
	}

	.half2 .v1,
	.half2 .v2,
	.half2 .v3,
	.half2 .v4,
	.half2 .v5,
	.half2 .v6,
	.half2 .v7,
	.half2 .v8,
	.half2 .v9,
	.half2 .v10 {
		display: none;
	}

	#contactInfo {
		padding-right: calc(100vw - 700px);
	}

	.thumb-wrapper img {
		width: 100%;
		height: 100%;
	}

	.outer-wrapper {
		width: 19.2%;
		height: 180px;
		margin: 8px 4px 5px 4px;
	}

	.thumb-wrapper {
		width: 100%;
		height: 78%;
		box-sizing: border-box;
		position: relative;
	}

	.info-wrapper {
		width: 100%;
		height: 40px;
		box-sizing: border-box;
	}

	.title {
		text-align: center;
		width: 100%;
		height: 16px;
		box-sizing: border-box;
	}

	.lk-vw {
		width: 100%;
		height: 20px;
		box-sizing: border-box;
		display: flex;
		flex-wrap: nowrap;
		justify-content: space-around;
	}

	.views,
	.likes {
		width: auto;
		text-align: center;
		height: auto;
	}

	.views p,
	.likes p {
		margin: 0px;
		box-sizing: border-box;
		font-size: 0.9em;
		padding-top: 3px;
	}

	.likes img {
		width: 20px;
		height: 13px;
		padding-top: 3.5px;
	}

	#videoDiv {
		width: 100%;
		height: auto;
		margin: auto;
	}

	#ad-container > div {
		margin: auto;
		width: 100%;
		height: 325px;
		padding: 0 5px;
	}

	#up2 {
		display: flex;
		flex-wrap: nowrap;
		justify-content: space-between;
		box-sizing: border-box;
		padding: 0px 5px 0px 5px;
	}

	#iframe-container {
		width: 60%;
		height: 323px;
	}

	#ad-container {
		display: block;
		width: 38%;
		height: 322px;
	}

	#ad-container .mblC {
		width: 100%;
	}

	.container {
		width: 100%;
		height: auto;
		margin: auto;
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
	}

	.containerID,
	.containerPV {
		width: 99%;
	}

	/* pornStar page */
	.art-cnt {
		width: 32%;
		height: auto;
		margin: 10px 6px 0px 6px;
		box-shadow: 1px 1.2px 5px rgba(0, 0, 0, 0.384);
	}

	.dp {
		width: auto;
		height: auto;
	}

	.nm {
		text-align: center;
		text-transform: capitalize;
		font-size: 0.7em;
		padding: 5px;
	}

	.dp img {
		width: 100%;
		height: 160px;
		box-sizing: border-box;
	}

	#l-Ad {
		display: none;
	}

	.advert,
	.base-advert {
		height: 410px;
	}
}

@media screen and (min-width: 1200px) {
	#mobile-nav,
	#iPad-nav {
		display: none;
	}

	.indexHd {
		font-size: 0.8em;
	}

	#ad-container .mAds3 {
		/* padding-top: calc((340px - 250px) / 2); */
		width: 100%;
		height: 100%;
	}

	.adjust {
		display: none;
	}

	#s-cnt {
		margin: auto;
		width: 95%;
	}

	#search-container input {
		border: none;
		width: 100%;
		background-color: #fff;
		border-radius: 15px 0px 0px 15px;
		padding: 0px 15px;
	}

	.part {
		display: none;
	}

	header {
		width: 100%;
		height: 50px;
		flex-wrap: nowrap;
		position: sticky;
		top: 0;
		z-index: 20;
		background-color: #fff;
	}

	#logo {
		background-image: url("./images/1597744820143.png");
		width: 170px;
		height: 48px;
		background-size: contain;
		background-repeat: no-repeat;
		margin-top: 3px;
		margin-left: -3px;
	}

	#dp-nav {
		display: block;
		margin-top: 15px;
		outline: none;
	}

	.nxt {
		margin-left: 80%;
		width: 200px;
		display: flex;
		flex-wrap: nowrap;
		justify-content: space-between;
	}

	.hide {
		visibility: hidden;
	}

	.half1 .v11,
	.half1 .v12,
	.half1 .v13,
	.half1 .v14,
	.half1 .v15,
	.half1 .v16,
	.half1 .v17,
	.half1 .v18,
	.half1 .v19,
	.half1 .v20 {
		display: none;
	}

	.half2 .v7,
	.half2 .v8,
	.half2 .v9,
	.half2 .v10 {
		display: block;
	}

	.half2 .v1,
	.half2 .v2,
	.half2 .v3,
	.half2 .v4,
	.half2 .v5,
	.half2 .v6,
	.half2 .v7,
	.half2 .v8,
	.half2 .v9,
	.half2 .v10 {
		display: none;
	}

	.play .half1 .v13,
	.play .half1 .v14,
	.play .half1 .v15,
	.play .half1 .v16,
	.play .half1 .v17,
	.play .half1 .v18,
	.play .half1 .v19,
	.play .half1 .v20,
	.play .half1 .v22,
	.play .half1 .v25,
	.play .half1 .v26,
	.play .half1 .v27,
	.play .half1 .v28,
	.play .half1 .v29,
	.play .half1 .v30,
	.play .half1 .v24,
	.play .half1 .v23,
	.play .half1 .v21 {
		display: none;
	}

	.play .half1 .v11,
	.play .half1 .v12 {
		display: block;
	}

	.play .half2 .v1,
	.play .half2 .v2,
	.play .half2 .v3,
	.play .half2 .v4,
	.play .half2 .v5,
	.play .half2 .v6,
	.play .half2 .v7,
	.play .half2 .v8,
	.play .half2 .v9,
	.play .half2 .v10,
	.play .half2 .v11,
	.play .half2 .v12 {
		display: none;
	}

	.inAd .mblC div,
	.inAd .mblB div {
		width: 80%;
		padding-top: calc((293px - 250px) / 2);
	}

	.rd a,
	.rd {
		color: #ff0000;
		margin-top: 3px;
		margin-right: 20px;
		text-decoration: none;
	}

	.tbl1A,
	.tbl2A,
	.tbl3A,
	.tbl4A,
	.tbl1B,
	.tbl2B,
	.tbl3B,
	.tbl4B,
	.tbl1C,
	.tbl2C,
	.tbl3C,
	.tbl4C {
		margin: auto;
		text-align: center;
		width: 300px;
		height: 100%;
	}

	.topRated .mblB,
	.topRated .mblC,
	.pornStarList .mblB,
	.pornStarList .mblC,
	.videoByCategory .mblC,
	.videoByCategory .mblB,
	.mostViewed .mblB,
	.mostViewed .mblC,
	.recommended .mblC,
	.recommended .mblB,
	.newVideos .mblB,
	.newVideos .mblC,
	.search .mblC,
	.search .mblB,
	.tagVideo .mblB,
	.tagVideo .mblC {
		width: 95%;
	}

	.play .mblC,
	.play .mblB {
		width: 70%;
		height: 100%;
	}

	.index .a19,
	.index .a20 {
		display: block;
	}

	#conOne .a7,
	#conOne .a8,
	#conOne .a9,
	#conOne .a10,
	#conOne .a13,
	#conOne .a14,
	#conOne .a15,
	#conOne .a16,
	#conOne .a17,
	#conOne .a18,
	#conOne .a19,
	#conOne .a20 {
		display: none;
	}

	#conTwo .a7,
	#conTwo .a8,
	#conTwo .a9,
	#conTwo .a10 {
		display: block;
	}

	#conTwo .a1,
	#conTwo .a2,
	#conTwo .a3,
	#conTwo .a4,
	#conTwo .a5,
	#conTwo .a6,
	#conTwo .a19,
	#conTwo .a20 {
		display: none;
	}

	header h3 {
		font-size: 1.3em;
		margin-top: 15px;
	}

	#contactInfo {
		padding-right: calc(100vw - 800px);
	}

	.views p,
	.likes p {
		margin: 0px;
		box-sizing: border-box;
		font-size: 0.9em;
		padding-top: 3px;
	}

	.likes img {
		width: 20px;
		height: 13px;
		padding-top: 3.5px;
	}

	.thumb-wrapper img {
		width: 100%;
	}

	.outer-wrapper {
		width: 19.34%;
		height: 180px;
		margin: 8px 0.33% 5px 0.33%;
	}

	.thumb-wrapper {
		width: 100%;
		height: 78%;
		box-sizing: border-box;
		position: relative;
	}

	.info-wrapper {
		width: 100%;
		height: 40px;
		box-sizing: border-box;
	}

	.title {
		text-align: center;
		width: 100%;
		height: 16px;
		box-sizing: border-box;
	}

	.lk-vw {
		width: 100%;
		height: 20px;
		box-sizing: border-box;
		display: flex;
		flex-wrap: nowrap;
		justify-content: space-around;
	}

	.views,
	.likes {
		width: auto;
		text-align: center;
		height: auto;
	}

	.container {
		/* border: 1px solid #ff0000; */
		width: 84%;
		height: auto;
		margin: 0px auto;
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		padding: 0px;
		/*justify-content: space-between;*/
	}

	.containerID,
	.containerPV {
		/* border: 1px solid #ff0000; */
		height: auto;
		margin: auto;
		padding: 0px;
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		align-content: space-between;
	}

	.containerID .outer-wrapper,
	.containerPV .outer-wrapper {
		width: 16%;
		height: 180px;
		margin: 8px 0.33% 5px 0.33%;
	}

	.pornStarList .inAd {
		width: 100%;
		height: 33.2%;
		box-sizing: border-box;
	}

	.pornStarList .up {
		margin-bottom: 5px;
	}

	.pornStarList #l-Ad {
		display: block;
		width: 18%;
		height: inherit;
		padding-bottom: 5px;
	}

	/* pornStar page */
	.art-cnt {
		width: 19.34%;
		height: auto;
		margin: 10px 0.33% 0px 0.33%;
		box-shadow: 1px 1.2px 5px rgba(0, 0, 0, 0.384);
	}

	.dp {
		width: auto;
		height: auto;
	}

	.nm {
		text-align: center;
		text-transform: capitalize;
		font-size: 0.7em;
		padding: 5px;
	}

	.dp img {
		width: 100%;
		height: 160px;
		box-sizing: border-box;
		filter: contrast(110%) saturate(120%);
	}

	#videoDiv {
		border: 1px solid #ff000030;
		padding: 3px 10px 0px 10px;
		width: 99%;
		margin: auto;
		border-left: 100px solid #ff000030;
		border-right: 100px solid #ff000030;
		box-sizing: border-box;
	}

	#up2 {
		display: flex;
		flex-wrap: nowrap;
		justify-content: center;
		text-align: center;
	}

	#iframe-container {
		width: 560px;
		height: 320px;
		border: 1px solid black;
		box-sizing: border-box;
	}

	#ad-container {
		width: 500px;
		display: block;
		border: 1px solid #ff0000;
		margin-left: 25px;
		box-sizing: border-box;
	}

	#ad-container > div {
		margin: auto;
		margin-top: calc((100% - 480px) / 2);
		width: 350px;
		height: 300px;
	}

	#ad-container h1 {
		color: black;
		text-align: center;
		width: 450px;
		height: auto;
		margin: auto;
	}

	#tags {
		color: black;
		margin-bottom: 5px;
		display: flex;
		flex-wrap: nowrap;
	}

	#tag-T {
		margin: 5px auto;
		width: 100%;
		height: auto;
		box-sizing: border-box;
		display: flex;
		flex-wrap: nowrap;
		justify-content: center;
	}

	#tag-TCont {
		border: 1px solid black;
		width: 560px;
		height: auto;
	}

	#tle {
		color: black;
		display: flex;
		flex-wrap: nowrap;
		margin-bottom: 5px;
		margin-top: 5px;
	}

	.t {
		margin: 0px;
		padding-left: 10px;
		padding-right: 5px;
	}

	.x {
		margin: 0px;
	}

	#ads-extend {
		display: block;
		border: 1px solid black;
		width: 500px;
		margin-left: 23px;
	}

	#relatedVideoWrapper {
		width: 91.5%;
		height: 400px;
		margin: 10px auto auto auto;
	}

	#wrapper {
		width: auto;
		height: auto;
		display: flex;
		flex-wrap: nowrap;
	}

	#l-Ad {
		display: block;
		width: 18%;
		height: 767px;
		padding: 0;
		box-shadow: 0 10px 10px 1px rgb(0 0 0 / 10%);
	}

	.fAds {
		flex-basis: 100%;
		padding: 15px 10px;
		width: auto;
		max-height: 250px;
		background-color: transparent;
	}

	.fbl1A,
	.fbl2A,
	.fbl1B,
	.fbl2B,
	.fbl1C,
	.fbl2C,
	.fbl1D,
	.fbl2D,
	.fbl1E,
	.fbl2E {
		margin: auto;
		text-align: center;
		width: 100%;
		height: 100%;
	}

	.inAd {
		width: 100%;
		height: 50%;
		box-sizing: border-box;
		padding: 0;
		/* box-shadow: 0 10px 10px 1px rgb(0 0 0 / 10%); */
	}

	.advert,
	.base-advert {
		width: 99.2%;
		height: 310px;
		border: 0.5px solid rgb(216, 213, 213);
		padding: 15px;
	}
}
