html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100vh;
    position: relative;
}

body::-webkit-scrollbar,
div::-webkit-scrollbar,
select::-webkit-scrollbar {
    width: 5px;
    border-radius: 5px;
}

body::-webkit-scrollbar-thumb,
div::-webkit-scrollbar-thumb,
select::-webkit-scrollbar-thumb {
    background: red;
}

body::-webkit-scrollbar-track,
div::-webkit-scrollbar-track,
select::-webkit-scrollbar-track {
    background: #e3ebf6;
}

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.navbar-brand {
    color: red !important;
}

.navbar-brand img {
    width: auto;
    height: 50px;
}

.navbar-toggler:focus,
.form-control:focus {
    outline: 0;
    offset: 0;
    border-color: rgba(0, 0, 0, 0.15);
    box-shadow: none;
}

.navbar > .container-fluid {
    padding: 0;
}

.nav-link:hover,
.nav-link:focus {
    color: red;
}

.fab,
.fas {
    font-size: 0.9rem;
    color: red;
    cursor: pointer;
}

.top {
    box-shadow: rgba(14, 63, 126, 0.04) 0px 0px 0px 1px, rgba(42, 51, 69, 0.04) 0px 1px 1px -0.5px, rgba(42, 51, 70, 0.04) 0px 3px 3px -1.5px, rgba(42, 51, 70, 0.04) 0px 6px 6px -3px, rgba(14, 63, 126, 0.04) 0px 12px 12px -6px, rgba(14, 63, 126, 0.04) 0px 24px 24px -12px;
}

.top .nav-item {
    padding-bottom: 1rem;
}

.top .dropdown-toggle::after {
    display: none;
}

.middle {
    display: grid;
    grid-template-columns: 49% 49%;
    gap: 1rem 2%;
    grid-auto-rows: max-content;
    min-height: calc(100vh - 80px);
}

.video_page {
    min-height: 800px;
}

.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 500;
}

.loader::after {
    content: "";
    width: 3.5rem;
    height: 3.5rem;
    border: 8px solid rgba(33, 37, 41, 0.3);
    border-left: 8px solid red;
    border-radius: 50%;
    animation: spin 0.5s linear infinite;
}

.loader--hidden {
    opacity: 0;
    visibility: hidden;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.middle .card,
.categories .card {
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.middle .card-body {
    padding: 0.5rem 1rem;
}

.middle .card-title {
    font-size: 0.8rem;
    text-align: left;
    height: 1.2rem;
    overflow: hidden;
    text-overflow: ellipsis;
    text-transform: capitalize;
    font-style: normal;
}

small {
    font-size: 0.7rem;
}

.middle .card-footer {
    border-top: 0;
}

.middle .card-footer small {
    display: flex;
    justify-content: space-between;
}

.middle .card-footer small p {
    padding: 0;
    margin: 0;
}

.bottom {
    background-color: rgba(33, 37, 41, 0.03);
}

.f-top > div {
    width: 100%;
}

.f-top > div:nth-child(2),
.f-top > div:nth-child(3) {
    padding-top: 3rem;
}

.f-top h2 {
    font-size: 1.15rem !important;
    position: relative;
}

.f1::after {
    content: " ";
    width: 90px;
    height: 1.5px;
    background-color: red;
    position: absolute;
    bottom: -6px;
    left: 0;
}

.f2::after {
    content: " ";
    width: 100px;
    height: 1.5px;
    background-color: red;
    position: absolute;
    bottom: -6px;
    left: 0;
}

.f3::after {
    content: " ";
    width: 220px;
    height: 1.5px;
    background-color: red;
    position: absolute;
    bottom: -6px;
    left: 0;
}

.f_list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.f_list li {
    padding: 0.43rem 0;
}

.f_list li:hover {
    text-decoration: underline;
}

.menu {
    font-weight: 400 !important;
}

.social > div:not(:first-child) {
    padding-left: 0.8rem;
}

.f-bottom {
    height: 52px;
}

.f-bottom div {
    text-align: center;
    font-size: 0.85rem !important;
}

.video {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.video .video__container {
    width: 100%;
    height: 250px;
    position: relative;
}

.video .video_ad {
    width: 100%;
    height: 250px;
    margin-top: 1rem;
    border: 1px solid #e9ecef;
}

.video_page .video_tags {
    border: 1px solid #e9ecef;
    width: 100%;
    min-height: 80px;
    margin: 1rem auto 3rem;
}

.video_page .video_tags > div {
    padding: 10px;
}

.video_page .video_tags > div a {
    text-decoration: none;
    margin-right: 5px;
    color: red;
    text-transform: lowercase;
}

.video_page .video_tags > div a:hover {
    text-decoration: underline;
}

.overlay_1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 89.5%;
    z-index: 1000;
    cursor: pointer;
}

.overlay_2 {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 12%;
    height: 18%;
    z-index: 1000;
    cursor: pointer;
}

img {
    width: 100%;
    height: 120px;
    filter: brightness(1) contrast(0.9) saturate(1.2);
}

.categories .dropdown-menu.show {
    display: grid;
    grid-template-columns: 49% 49%;
    grid-template-rows: max-content;
    gap: 1rem 1%;
    padding: 1rem 0.5%;
    /* max-height: 500px; */
    overflow-y: auto;
}

.categories .dropdown-menu[data-bs-popper] {
    left: unset !important;
    right: 0;
}

.categories .dropdown-item:hover {
    background-color: red;
    color: #fff;
}

/* Small devices (landscape phones, 540px and up) */
@media (min-width: 540px) {
    .middle {
        grid-template-columns: 49% 49%;
        gap: 1rem 2%;
    }

    .middle .card-title {
        font-size: 0.8rem;
        height: 2.5rem;
    }
    .video .video__container {
        height: 300px;
    }

    .video .video_ad {
        height: 250px;
        border: 1px solid #e9ecef;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .video .video__container {
        height: 400px;
    }

    .video .video_ad {
        height: 350px;
        border: 1px solid #e9ecef;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .f-top > div {
        width: calc((100% / 3) - 2rem);
    }

    .f-top > div:nth-child(2),
    .f-top > div:nth-child(3) {
        padding-top: 0;
    }

    .f-top h2 {
        font-size: 1.15rem !important;
        position: relative;
    }

    .social {
        padding-left: 0;
    }

    .f-bottom div {
        text-align: right;
    }

    img {
        height: 150px;
    }

    .middle {
        grid-template-columns: 32% 32% 32%;
        gap: 1rem calc(4% / 2);
    }
    .top .navbar-collapse {
        padding: 0.5rem 0;
        flex-grow: 0.1;
    }

    .top .navbar-nav {
        width: 50%;
        justify-content: space-evenly;
        padding: 0;
    }

    .top .nav-item {
        padding: 0;
    }

    .video {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .video .video__container {
        width: 65%;
        height: 350px;
        position: relative;
    }

    .video .video_ad {
        width: 33%;
        height: 350px;
        margin-top: 0;
        border: 1px solid #e9ecef;
    }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .middle {
        grid-template-columns: 24% 24% 24% 24%;
        gap: 1rem calc(4% / 3);
    }

    .middle .card-title {
        font-size: 0.8rem;
        height: 1.2rem;
    }

    small {
        font-size: 0.8rem;
    }

    .video .video_ad {
        width: 31%;
        height: 510px;
    }

    .container {
        padding: 0 !important;
    }

    .video {
        flex-direction: row;
    }

    .video .video__container {
        width: 68%;
        height: 450px;
    }

    .video .video_ad {
        width: 30%;
        height: 450px;
        margin-top: 0;
        border: 1px solid #e9ecef;
    }

    .video_page .video_tags > div {
        width: 68%;
        height: auto;
    }

    .overlay_2 {
        width: 20%;
        height: 9%;
    }

    .categories .dropdown-menu.show {
        display: grid;
        grid-template-columns: 163px 163px 163px 163px 163px 163px;
        gap: 1rem;
        padding: 1rem;
    }

    .categories .dropdown-menu[data-bs-popper] {
        top: 60px;
    }
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
    .middle {
        grid-template-columns: 19% 19% 19% 19% 19%;
        gap: 1rem calc(5% / 4);
    }

    .video .video__container {
        width: 68%;
        height: 510px;
    }

    .video .video_ad {
        width: 30%;
        height: 510px;
        margin-top: 0;
        border: 1px solid #e9ecef;
    }
}
