<section class="middle container d-flex" style="display: flex; justify-content: center; align-items: center">
    <div>
        <h5 class="mx-auto mb-1 text-center fw-bold">The page you are looking for does not exist or has been removed.</h5>
        <p class="mx-auto mb-1 text-center">Please check the URL and Try again.</p>
        <p class="mx-auto text-center"><span>Click to </span><a href="/" class="text-danger fw-bold text-decoration-none">return to the homepage.</a></p>
    </div>
</section>
