<div class="base-advert">
	<div class="mAd" style="display: none">
		<div class="mAds">
			<script type="application/javascript" data-idzone="4191210"
				src="https://a.realsrv.com/nativeads-v2.js"></script>
		</div>
	</div>

	<div class="tAd" style="display: none">
		<div class="tAds">
			<script type="application/javascript" data-idzone="4191192"
				src="https://a.realsrv.com/nativeads-v2.js"></script>
		</div>
	</div>

	<div class="ipAd" style="display: none">
		<div class="ipAds">
			<script type="application/javascript" data-idzone="4191222"
				src="https://a.realsrv.com/nativeads-v2.js"></script>
		</div>
	</div>

	<div class="dpAd" style="display: none">
		<script type="application/javascript" data-idzone="4191216"
			src="https://a.realsrv.com/nativeads-v2.js"></script>
	</div>
</div>
</div>
<div style="width: 100%; height: 100vh; position: fixed; top: 50px;" class="close">
	<div id="loader" class="loader"></div>
</div>
</div>

<footer>
	<div id="bottomDiv">
		<p>{global.companyName} &nbsp; &copy; {global.yearCreated} | All Rights Reserved.</p>
	</div>
</footer>
</div>
<script type="text/javascript" src="public/app.min.js" defer></script>
</body>

</html>