
        <section class="bottom container-fluid mt-5">
            <footer class="pt-5">
                <div class="container f-top w_1200 d-lg-flex justify-content-between">
                    <div>
                        <div class="logo mb-2">
                            <h4>Lusty<span class="text-danger">Orgasms</span></h4>
                        </div>
                        <div class="d-flex align-items-center mt-2">
                            <p class="m-0" style="line-height: 2rem;">This website contains sexually explicit material. By entering, you swear that you are of legal age to view adult material, as legally permitted by the laws of your country.</p>
                        </div>
                    </div>
                    <div>
                        <h2 class="f1">Categories:</h2>
                        <ul class="container f_list mt-3">
                            <li class="menu"><a href="category/big_tits" class="st0 dropdown-item">Lesbian</a></li>
                            <li class="menu"><a href="category/amateur" class="st0 dropdown-item">Amateur</a></li>
                            <li class="menu"><a href="category/celebrity" class="st0 dropdown-item">Celebrity</a></li>
                            <li class="menu"><a href="category/bbw" class="st0 dropdown-item">BBW</a></li>
                            <li class="menu"><a href="category/striptease" class="st0 dropdown-item">Striptease</a></li>
                            <li class="menu"><a href="category/hardcore" class="st0 dropdown-item">Hardcore</a></li>
                            <li class="menu"><a href="category/fetish" class="st0 dropdown-item">Fetish</a></li>
                        </ul>
                    </div>
                    <div>
                        <h2 class="f2">FOLLOW US:</h2>
                        <!-- Social Media Icons -->
                        <div class="social d-flex justify-content-start align-items-center pt-3">
                            <div title="Facebook">
                                <svg xmlns="http://www.w3.org/2000/svg" width="2em" height="2em" viewBox="0 0 512 512"><path fill="currentColor" d="M504 256C504 119 393 8 256 8S8 119 8 256c0 123.78 90.69 226.38 209.25 245V327.69h-63V256h63v-54.64c0-62.15 37-96.48 93.67-96.48c27.14 0 55.52 4.84 55.52 4.84v61h-31.28c-30.8 0-40.41 19.12-40.41 38.73V256h68.78l-11 71.69h-57.78V501C413.31 482.38 504 379.78 504 256"/></svg>
                            </div>
                            <div title="Twitter">
                                <svg xmlns="http://www.w3.org/2000/svg" width="2.2em" height="2.2em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 1024 1024"><path fill="currentColor" d="M512 64C264.6 64 64 264.6 64 512s200.6 448 448 448s448-200.6 448-448S759.4 64 512 64zm215.3 337.7c.3 4.7.3 9.6.3 14.4c0 146.8-111.8 315.9-316.1 315.9c-63 0-121.4-18.3-170.6-49.8c9 1 17.6 1.4 26.8 1.4c52 0 99.8-17.6 137.9-47.4c-48.8-1-89.8-33-103.8-77c17.1 2.5 32.5 2.5 50.1-2a111 111 0 0 1-88.9-109v-1.4c14.7 8.3 32 13.4 50.1 14.1a111.13 111.13 0 0 1-49.5-92.4c0-20.7 5.4-39.6 15.1-56a315.28 315.28 0 0 0 229 116.1C492 353.1 548.4 292 616.2 292c32 0 60.8 13.4 81.1 35c25.1-4.7 49.1-14.1 70.5-26.7c-8.3 25.7-25.7 47.4-48.8 61.1c22.4-2.4 44-8.6 64-17.3c-15.1 22.2-34 41.9-55.7 57.6z" /></svg>
                            </div>
                            <div title="Instagram">
                                <svg xmlns="http://www.w3.org/2000/svg" width="2.2em" height="2.2em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 1024 1024"><path fill="currentColor" d="M512 378.7c-73.4 0-133.3 59.9-133.3 133.3S438.6 645.3 512 645.3S645.3 585.4 645.3 512S585.4 378.7 512 378.7zM911.8 512c0-55.2.5-109.9-2.6-165c-3.1-64-17.7-120.8-64.5-167.6c-46.9-46.9-103.6-61.4-167.6-64.5c-55.2-3.1-109.9-2.6-165-2.6c-55.2 0-109.9-.5-165 2.6c-64 3.1-120.8 17.7-167.6 64.5C132.6 226.3 118.1 283 115 347c-3.1 55.2-2.6 109.9-2.6 165s-.5 109.9 2.6 165c3.1 64 17.7 120.8 64.5 167.6c46.9 46.9 103.6 61.4 167.6 64.5c55.2 3.1 109.9 2.6 165 2.6c55.2 0 109.9.5 165-2.6c64-3.1 120.8-17.7 167.6-64.5c46.9-46.9 61.4-103.6 64.5-167.6c3.2-55.1 2.6-109.8 2.6-165zM512 717.1c-113.5 0-205.1-91.6-205.1-205.1S398.5 306.9 512 306.9S717.1 398.5 717.1 512S625.5 717.1 512 717.1zm213.5-370.7c-26.5 0-47.9-21.4-47.9-47.9s21.4-47.9 47.9-47.9s47.9 21.4 47.9 47.9a47.84 47.84 0 0 1-47.9 47.9z" /></svg>
                            </div>
                            <div title="Telegram">
                                <svg xmlns="http://www.w3.org/2000/svg" width="2em" height="2em" viewBox="0 0 496 512"><path fill="currentColor" d="M248 8C111 8 0 119 0 256s111 248 248 248s248-111 248-248S385 8 248 8m121.8 169.9l-40.7 191.8c-3 13.6-11.1 16.9-22.4 10.5l-62-45.7l-29.9 28.8c-3.3 3.3-6.1 6.1-12.5 6.1l4.4-63.1l114.9-103.8c5-4.4-1.1-6.9-7.7-2.5l-142 89.4l-61.2-19.1c-13.3-4.2-13.6-13.3 2.8-19.7l239.1-92.2c11.1-4 20.8 2.7 17.2 19.5"/></svg>
                            </div>
                        </div>

                        <div class="pt-5">
                            <h2 class="f3">SIGN UP FOR NEWSLETTER</h2>
                            <p class="pt-3">Receive our latest updates about our videos & pornStars.</p>
                            <form class="row g-2">
                                <div class="col-auto">
                                    <label for="news" class="visually-hidden"></label>
                                    <input type="email" class="form-control" id="news" placeholder="Email Address" />
                                </div>
                                <div class="col-auto">
                                    <button type="submit" class="btn btn-danger mb-3 px-4">Submit</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="f-bottom mt-5">
                    <!-- Payment Methods -->
                    <div class="w_1200 py-3">&copy; {global.yearCreated}, {global.companyName}. All Rights Reserved</div>
                </div>
            </footer>
        </div>
        </section>
    </body>
    <script src="./public/bootstrap.bundle.js"></script>
    <script src="./public/app.js"></script>
</html>