<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <!-- <script async src="https://www.googletagmanager.com/gtag/js?id=G-78VL0T757H"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag() {
                dataLayer.push(arguments);
            }
            gtag("js", new Date());

            gtag("config", "G-78VL0T757H");
        </script> -->
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <meta name="description" content="{head.description}" />
        <meta name="referrer" content="no-referrer" />
        <link rel="alternate" hreflang="en-us" href="{body.url1}" />
        <link rel="alternate" hreflang="en-gb" href="{body.url2}" />
        <link rel="alternate" hreflang="x-default" href="{body.url3}" />
        <link rel="shortcut icon" href="/favicon/favicon.ico" type="image/x-icon" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
        <meta name="apple-mobile-web-app-title" content="LustyOrgasms" />
        <link rel="apple-touch-icon" href="/favicon/apple-touch-icon.png" />
        <link rel="apple-touch-icon" sizes="60x60" href="/favicon/apple-touch-icon-60x60.png" />
        <link rel="apple-touch-icon" sizes="72x72" href="/favicon/apple-touch-icon-72x72.png" />
        <link rel="apple-touch-icon" sizes="120x120" href="/favicon/apple-touch-icon-120x120.png" />
        <link rel="apple-touch-icon" sizes="152x152" href="/favicon/apple-touch-icon-152x152.png" />
        <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon-180x180.png" />
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png" />
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png" />
        <link rel="icon" type="image/png" sizes="48x48" href="/favicon/favicon-48x48.png" />
        <meta name="msapplication-TileColor" content="#ffffff" />
        <meta name="msapplication-TileImage" content="/mstile-150x150.png" />
        <meta name="msapplication-config" content="/browserconfig.xml" />
        <meta name="theme-color" content="#ffffff" />
        <link rel="manifest" href="/favicon/site.webmanifest" crossorigin="use-credentials" />
        <meta name="juicyads-site-verification" content="{global.juicyads_verification}" />
        <meta name="google-site-verification" content="{global.google_verification}" />
        <meta name="keywords" content="porn, sex, xxx, Lust, Orgasms, Orgasm, Lusty, Lustyorgasms, fantasy, fantasies, sex positions, sensual, sexual, blowjob, anal, cowgirl, cow-girl, reverse cowgirl" />
        <meta name="twitter:card" content="summary_large_image" />
        <meta name="twitter:site" content="@lust_n_orgasms" />
        <meta name="twitter:title" content="{body.title}" />
        <meta name="twitter:creator" content="@slutty_licia" />
        <meta name="twitter:description" content="Lust & Orgasms Brings You NEW Porn Videos Every Day For Free." />
        <meta name="twitter:image" content="{body.thumb}" />
        <link rel="canonical" href="https://lustyorgasms.com" />
        <base href="{global.baseUrl}" />
        <link rel="stylesheet" href="./public/bootstrap.css" />
        <link rel="stylesheet" href="./public/all.min.css" />
        <link rel="stylesheet" href="./public/app.css" />
        <title>{body.title1}</title>
    </head>
    <body class="bg-white">
        <!-- Header -->
        <section class="top container-fluid mb-4 bg-white sticky-top">
            <nav class="navbar navbar-expand-lg">
                <div class="container-fluid">
                    <a class="navbar-brand" href="/">
                        <img src="/public/images/1597744820143.png" alt="logo" />
                    </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item categories dropdown mt-3 mt-lg-0">
                                <a class="nav-link dropdown-toggle" href="#" role="button" id="navbarScrollingDropdown" data-bs-toggle="dropdown" aria-expanded="false"> Categories </a>
                                <div class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">{body.categories}</div>
                            </li>
                        </ul>
                        <form class="d-flex mb-3 mb-lg-0 search_form" role="search">
                            <input class="form-control me-2 search_input" type="search" placeholder="Search" aria-label="Search" />
                            <button class="btn btn-outline-danger" type="submit">Search</button>
                        </form>
                    </div>
                </div>
            </nav>
        </section>
        <!-- Body -->
    </body>
</html>
