<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-78VL0T757H"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-78VL0T757H');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="{head.description}">
    <meta name="theme-color" content="#fff">
    <link rel="alternate" hreflang="en-us" href="{body.url1}" />
    <link rel="alternate" hreflang="en-gb" href="{body.url2}" />
    <link rel="alternate" hreflang="x-default" href="{body.url3}" />
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <meta name="juicyads-site-verification" content="ef3488534236f1ac61005562fa40aa21">
    <meta name="google-site-verification" content="VGxU7B-IkNnDVlh3T_vBwaK_OSC8tLg-SxR23STVxqI" />
    <meta name="keywords" content="porn, sex, xxx, Lust, Orgasms, Orgasm, Lusty, Lustyorgasms">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@lust_n_orgasms">
    <meta name="twitter:title" content="{body.title}">
    <meta name="twitter:creator" content="@slutty_licia">
    <meta name="twitter:description" content="Lust & Orgasms Brings You NEW Porn Videos Every Day For Free.">
    <meta name="twitter:image" content="{body.thumb}">
    <link rel="manifest" href="/site.webmanifest" crossorigin="use-credentials">
    <link rel="canonical" href="https://lustyorgasms.com" />
    <base href="{global.baseUrl}">
    <style></style>
    <link rel="stylesheet" type="text/css" href="public/normalize.css">
    <link rel="stylesheet" type="text/css" href="public/app.min.css">
    <title>{body.title1}</title>

    <style>
        body {
            position: relative;
        }
    </style>
</head>

<body id="Boobs" class="{body.class}">
    <div>
        <header>
            <div id="hdDiv">
                <a href="/" id="logo"></a>
                <!-- Mobile view nav bar-->
                <nav id="mobile-nav">
                    <ul>
                        <li>
                            <div id="s-icon">
                                <svg width="1.5em" height="1.4em" viewBox="0 0 16 16" class="bi bi-search" fill="red"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd"
                                        d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z" />
                                    <path fill-rule="evenodd"
                                        d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z" />
                                </svg>
                            </div>
                            <div id="search-bar-content" class="search-bar-content search-bar-contentz"
                                style="box-shadow: 1px 1.2px 5px rgba(0, 0, 0, 0.384);">
                                <form id="s-cnt" class="m-cntA" action="search" method="get">
                                    <div id="search-container">
                                        <input type="search" class="m-cntB" name="keyword" id="s-bar"
                                            style="font-style: italic;" placeholder="Search Videos" required>
                                        <input type="text" name="type" value="video" id="type" style="display: none;">
                                        <input type="number" name="page" value="1" id="page" style="display: none;">
                                        <button type="submit">
                                            <svg width="1.3em" height="1em" viewBox="0 0 16 16" class="bi bi-search"
                                                fill="#FF0000" xmlns="http://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd"
                                                    d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z" />
                                                <path fill-rule="evenodd"
                                                    d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z" />
                                            </svg>
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </li>
                        <li>
                            <div id="m-icon">
                                <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-list" fill="red"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd"
                                        d="M2.5 11.5A.5.5 0 0 1 3 11h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 3 7h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 3 3h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z" />
                                </svg>
                            </div>
                        </li>
                        <li>
                            <div id="category-outer" class="category-outer category-out close">
                                <div id="category-highlight">
                                    <div id="str-click" class="clr">Straight</div>
                                    <div id="gy-click">Gay</div>
                                </div>
                                <div id="category-cnt">
                                    <div id="str" class="str">{body.straight}</div>
                                    <div id="gy" class="gy l-display">{body.gay}</div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </nav>
                <!-- iPad view nav bar-->
                <nav id="iPad-nav">
                    <ul>
                        <li>
                            <div id="ip-search-bar-content" class="ip-search-bar-content">
                                <form id="s-cnt" action="search" method="get">
                                    <div id="search-container">
                                        <input type="search" name="keyword" id="s-bar" style="font-style: italic;"
                                            placeholder="Search Videos" required>
                                        <input type="text" name="type" value="video" id="type" style="display: none;">
                                        <input type="number" name="page" value="1" id="page" style="display: none;">
                                        <button type="submit">
                                            <svg width="1.3em" height="1em" viewBox="0 0 16 16" class="bi bi-search"
                                                fill="#FF0000" xmlns="http://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd"
                                                    d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z" />
                                                <path fill-rule="evenodd"
                                                    d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z" />
                                            </svg>
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </li>
                        <li>
                            <div id="ip-m-icon"></div>
                        </li>
                        <li>
                            <div id="ip-category-outer" class="ip-category-outer category-out close">
                                <div id="ip-category-highlight">
                                    <div id="ip-str-click" class="clr">Straight</div>
                                    <div id="ip-gy-click">Gay</div>
                                </div>
                                <div id="ip-category-cnt">
                                    <div id="ip-str" class="ip-str">{ipBody.straight}</div>
                                    <div id="ip-gy" class="ip-gy l-display">{ipBody.gay}</div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </nav>
                <!--desktop and laptop screens-->
                <nav id="dp-nav">
                    <ul>
                        <li class="rd">
                            <div id="dp-ctg" title="Categories">Categories</div>
                        </li>
                        <li>
                            <div id="dp-category-outer" class="dp-category-outer dp-category-out">
                                <div id="dp-category-highlight">
                                    <div id="dp-str-click" class="clr">Straight</div>
                                    <div id="dp-gy-click">Gay</div>
                                </div>
                                <div id="dp-category-cnt">
                                    <div id="dp-str" class="dp-str">{dpBody.straight}</div>
                                    <div id="dp-gy" class="dp-gy l-display">{dpBody.gay}</div>
                                </div>
                            </div>
                        </li>
                        <!-- <li class="rd"><a href="pornStars/list?page=1">PornStars</a></li> -->
                        <li>
                            <div id="dp-search-bar-content" class="dp-search-bar-content">
                                <form id="s-cnt" action="search" method="get">
                                    <div id="search-container">
                                        <input type="search" name="keyword" id="s-bar" style="font-style: italic;"
                                            placeholder="Search Videos" required>
                                        <input type="text" name="type" value="video" id="type" style="display: none;">
                                        <input type="number" name="page" value="1" id="page" style="display: none;">
                                        <button type="submit">
                                            <svg width="1.3em" height="1em" viewBox="0 0 16 16" class="bi bi-search"
                                                fill="#FF0000" xmlns="http://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd"
                                                    d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z" />
                                                <path fill-rule="evenodd"
                                                    d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z" />
                                            </svg>
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </li>
                    </ul>
                </nav>
            </div>
        </header>

        <div id="outer-container" class="outer-container rm_Blur">