<div class="indexHd" style="display: none">
	<div>New Videos</div>
	<div><a href="video/new?page=1">more...</a></div>
</div>
<div class="containerID" style="margin-top: 12px">{body.new}</div>

<div class="advert_1">
	<script type="application/javascript" data-idzone="4191210" src="https://a.realsrv.com/nativeads-v2.js"></script>
</div>

<div class="indexHd" style="display: none">
	<div>Recommended Videos</div>
	<div><a href="video/recommended?page=1">more...</a></div>
</div>
<div class="containerID" style="margin-top: 12px">{body.recommended}</div>

<div class="advert_2">
	<script type="application/javascript" data-idzone="4191216" src="https://a.realsrv.com/nativeads-v2.js"></script>
</div>

<div class="indexHd" style="display: none">
	<div>Top Rated Videos</div>
	<div><a href="video/topRated?page=1">more...</a></div>
</div>
<div class="containerID" style="margin-top: 12px">{body.topRated}</div>

<div class="advert_3">
	<script type="application/javascript" data-idzone="4191222" src="https://a.realsrv.com/nativeads-v2.js"></script>
</div>

<div class="indexHd" style="display: none">
	<div>Most Watched Videos</div>
	<div><a href="video/mostViewed?page=1">more...</a></div>
</div>
<div class="containerID" style="margin-top: 12px">{body.mostWatched}</div>
