<div class="indexHd" style="display: none;">
    <div>New Videos</div>
    <div><a href="video/new?page=1">more...</a></div>
</div>
<div class="containerID" style="margin-top: 12px;">{body.new}</div>

<div class="advert">
    <div class="mAds1" style="display:none">
        <div class="mblA mblA1">
            <script type="application/javascript">
                var ad_idzone = "4085794",
                    ad_width = "100%",
                    ad_height = "100%"
            </script>
            <script type="application/javascript" src="https://a.realsrv.com/ads.js"></script>
            <noscript>
                <iframe src="https://syndication.realsrv.com/ads-iframe-display.php?idzone=4085794&output=noscript"
                    width="100%" height="100%" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>
            </noscript>
        </div>
        
        <div class="mblA mblA2">
            <script type="application/javascript">
                var ad_idzone = "4085804",
                    ad_width = "100%",
                    ad_height = "100%"
            </script>
            <script type="application/javascript" src="https://a.realsrv.com/ads.js"></script>
            <noscript>
                <iframe src="https://syndication.realsrv.com/ads-iframe-display.php?idzone=4085804&output=noscript"
                    width="100%" height="100%" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>
            </noscript>
        </div>
        <div class="mblA mblA3">
            <script type="application/javascript">
                var ad_idzone = "4085808",
                    ad_width = "100%",
                    ad_height = "100%"
            </script>
            <script type="application/javascript" src="https://a.realsrv.com/ads.js"></script>
            <noscript>
                <iframe src="https://syndication.realsrv.com/ads-iframe-display.php?idzone=4085808&output=noscript"
                    width="100%" height="100%" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>
            </noscript>
        </div>
        <div class="mblA mblA4">
            <script type="application/javascript">
                var ad_idzone = "4085810",
                    ad_width = "100%",
                    ad_height = "100%"
            </script>
            <script type="application/javascript" src="https://a.realsrv.com/ads.js"></script>
            <noscript>
                <iframe src="https://syndication.realsrv.com/ads-iframe-display.php?idzone=4085810&output=noscript"
                    width="100%" height="100%" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>
            </noscript>
        </div>
        <div class="mblA mblA5">
            <script type="application/javascript">
                var ad_idzone = "4085814",
                    ad_width = "100%",
                    ad_height = "100%"
            </script>
            <script type="application/javascript" src="https://a.realsrv.com/ads.js"></script>
            <noscript>
                <iframe src="https://syndication.realsrv.com/ads-iframe-display.php?idzone=4085814&output=noscript"
                    width="100%" height="100%" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>
            </noscript>
        </div>
        <div class="mblA mblA6">
            <script type="application/javascript">
                var ad_idzone = "4085818",
                    ad_width = "100%",
                    ad_height = "100%"
            </script>
            <script type="application/javascript" src="https://a.realsrv.com/ads.js"></script>
            <noscript>
                <iframe src="https://syndication.realsrv.com/ads-iframe-display.php?idzone=4085818&output=noscript"
                    width="100%" height="100%" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>
            </noscript>
        </div>
    </div>

    <div class="bgAd" style="display: none;">
        <div class="tabAds">
            <div class="tbl1A tbl1A1">
                <script type="application/javascript">
                    var ad_idzone = "4085794",
                        ad_width = "100%",
                        ad_height = "100%"
                </script>
                <script type="application/javascript" src="https://a.realsrv.com/ads.js"></script>
                <noscript>
                    <iframe src="https://syndication.realsrv.com/ads-iframe-display.php?idzone=4085794&output=noscript"
                        width="100%" height="100%" scrolling="no" marginwidth="0" marginheight="0"
                        frameborder="0"></iframe>
                </noscript>
            </div>
            <div class="tbl1A tbl1A2">
                <script type="application/javascript">
                    var ad_idzone = "4085804",
                        ad_width = "100%",
                        ad_height = "100%"
                </script>
                <script type="application/javascript" src="https://a.realsrv.com/ads.js"></script>
                <noscript>
                    <iframe src="https://syndication.realsrv.com/ads-iframe-display.php?idzone=4085804&output=noscript"
                        width="100%" height="100%" scrolling="no" marginwidth="0" marginheight="0"
                        frameborder="0"></iframe>
                </noscript>
            </div>
        </div>
        
        <div class="tabAds">
            <div class="tbl1B tbl1B1">
                <script type="application/javascript">
                    var ad_idzone = "4085808",
                        ad_width = "100%",
                        ad_height = "100%"
                </script>
                <script type="application/javascript" src="https://a.realsrv.com/ads.js"></script>
                <noscript>
                    <iframe src="https://syndication.realsrv.com/ads-iframe-display.php?idzone=4085808&output=noscript"
                        width="100%" height="100%" scrolling="no" marginwidth="0" marginheight="0"
                        frameborder="0"></iframe>
                </noscript>
            </div>
            <div class="tbl1B tbl1B2">
                <script type="application/javascript">
                    var ad_idzone = "4085810",
                        ad_width = "100%",
                        ad_height = "100%"
                </script>
                <script type="application/javascript" src="https://a.realsrv.com/ads.js"></script>
                <noscript>
                    <iframe src="https://syndication.realsrv.com/ads-iframe-display.php?idzone=4085810&output=noscript"
                        width="100%" height="100%" scrolling="no" marginwidth="0" marginheight="0"
                        frameborder="0"></iframe>
                </noscript>
            </div>
        </div>
        <div class="tabAds">
            <div class="tbl1C tbl1C1">
                <script type="application/javascript">
                    var ad_idzone = "4085814",
                        ad_width = "100%",
                        ad_height = "100%"
                </script>
                <script type="application/javascript" src="https://a.realsrv.com/ads.js"></script>
                <noscript>
                    <iframe src="https://syndication.realsrv.com/ads-iframe-display.php?idzone=4085814&output=noscript"
                        width="100%" height="100%" scrolling="no" marginwidth="0" marginheight="0"
                        frameborder="0"></iframe>
                </noscript>
            </div>
            <div class="tbl1C tbl1C2">
                <script type="application/javascript">
                    var ad_idzone = "4085818",
                        ad_width = "100%",
                        ad_height = "100%"
                </script>
                <script type="application/javascript" src="https://a.realsrv.com/ads.js"></script>
                <noscript>
                    <iframe src="https://syndication.realsrv.com/ads-iframe-display.php?idzone=4085818&output=noscript"
                        width="100%" height="100%" scrolling="no" marginwidth="0" marginheight="0"
                        frameborder="0"></iframe>
                </noscript>
            </div>
        </div>
    </div>
</div>


<div class="indexHd" style="display: none;">
    <div>Recommended Videos</div>
    <div><a href="video/recommended?page=1">more...</a></div>
</div>
<div class="containerID" style="margin-top: 12px;">{body.recommended}</div>

<div class="advert">
    <div class="mAds3" style="display:none">
        <div class="mblC mblC1">
            <script type="application/javascript">
                var ad_idzone = "4085794",
                    ad_width = "100%",
                    ad_height = "100%"
            </script>
            <script type="application/javascript" src="https://a.realsrv.com/ads.js"></script>
            <noscript>
                <iframe src="https://syndication.realsrv.com/ads-iframe-display.php?idzone=4085794&output=noscript"
                    width="100%" height="100%" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>
            </noscript>
        </div>
        
        <div class="mblC mblC2">
            <script type="application/javascript">
                var ad_idzone = "4085804",
                    ad_width = "100%",
                    ad_height = "100%"
            </script>
            <script type="application/javascript" src="https://a.realsrv.com/ads.js"></script>
            <noscript>
                <iframe src="https://syndication.realsrv.com/ads-iframe-display.php?idzone=4085804&output=noscript"
                    width="100%" height="100%" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>
            </noscript>
        </div>
        <div class="mblC mblC3">
            <script type="application/javascript">
                var ad_idzone = "4085808",
                    ad_width = "100%",
                    ad_height = "100%"
            </script>
            <script type="application/javascript" src="https://a.realsrv.com/ads.js"></script>
            <noscript>
                <iframe src="https://syndication.realsrv.com/ads-iframe-display.php?idzone=4085808&output=noscript"
                    width="100%" height="100%" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>
            </noscript>
        </div>
        <div class="mblC mblC4">
            <script type="application/javascript">
                var ad_idzone = "4085810",
                    ad_width = "100%",
                    ad_height = "100%"
            </script>
            <script type="application/javascript" src="https://a.realsrv.com/ads.js"></script>
            <noscript>
                <iframe src="https://syndication.realsrv.com/ads-iframe-display.php?idzone=4085810&output=noscript"
                    width="100%" height="100%" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>
            </noscript>
        </div>
        <div class="mblC mblC5">
            <script type="application/javascript">
                var ad_idzone = "4085814",
                    ad_width = "100%",
                    ad_height = "100%"
            </script>
            <script type="application/javascript" src="https://a.realsrv.com/ads.js"></script>
            <noscript>
                <iframe src="https://syndication.realsrv.com/ads-iframe-display.php?idzone=4085814&output=noscript"
                    width="100%" height="100%" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>
            </noscript>
        </div>
        <div class="mblC mblC6">
            <script type="application/javascript">
                var ad_idzone = "4085818",
                    ad_width = "100%",
                    ad_height = "100%"
            </script>
            <script type="application/javascript" src="https://a.realsrv.com/ads.js"></script>
            <noscript>
                <iframe src="https://syndication.realsrv.com/ads-iframe-display.php?idzone=4085818&output=noscript"
                    width="100%" height="100%" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>
            </noscript>
        </div>
    </div>

    <div class="bgAd" style="display: none;">
        <div class="tabAds">
            <div class="tbl2A tbl2A1">
                <script type="application/javascript">
                    var ad_idzone = "4085794",
                        ad_width = "100%",
                        ad_height = "100%"
                </script>
                <script type="application/javascript" src="https://a.realsrv.com/ads.js"></script>
                <noscript>
                    <iframe src="https://syndication.realsrv.com/ads-iframe-display.php?idzone=4085794&output=noscript"
                        width="100%" height="100%" scrolling="no" marginwidth="0" marginheight="0"
                        frameborder="0"></iframe>
                </noscript>
            </div>
            <div class="tbl2A tbl2A2">
                <script type="application/javascript">
                    var ad_idzone = "4085804",
                        ad_width = "100%",
                        ad_height = "100%"
                </script>
                <script type="application/javascript" src="https://a.realsrv.com/ads.js"></script>
                <noscript>
                    <iframe src="https://syndication.realsrv.com/ads-iframe-display.php?idzone=4085804&output=noscript"
                        width="100%" height="100%" scrolling="no" marginwidth="0" marginheight="0"
                        frameborder="0"></iframe>
                </noscript>
            </div>
        </div>
        
        <div class="tabAds">
            <div class="tbl2B tbl2B1">
                <script type="application/javascript">
                    var ad_idzone = "4085808",
                        ad_width = "100%",
                        ad_height = "100%"
                </script>
                <script type="application/javascript" src="https://a.realsrv.com/ads.js"></script>
                <noscript>
                    <iframe src="https://syndication.realsrv.com/ads-iframe-display.php?idzone=4085808&output=noscript"
                        width="100%" height="100%" scrolling="no" marginwidth="0" marginheight="0"
                        frameborder="0"></iframe>
                </noscript>
            </div>
            <div class="tbl2B tbl2B2">
                <script type="application/javascript">
                    var ad_idzone = "4085810",
                        ad_width = "100%",
                        ad_height = "100%"
                </script>
                <script type="application/javascript" src="https://a.realsrv.com/ads.js"></script>
                <noscript>
                    <iframe src="https://syndication.realsrv.com/ads-iframe-display.php?idzone=4085810&output=noscript"
                        width="100%" height="100%" scrolling="no" marginwidth="0" marginheight="0"
                        frameborder="0"></iframe>
                </noscript>
            </div>
        </div>
        <div class="tabAds">
            <div class="tbl2C tbl2C1">
                <script type="application/javascript">
                    var ad_idzone = "4085814",
                        ad_width = "100%",
                        ad_height = "100%"
                </script>
                <script type="application/javascript" src="https://a.realsrv.com/ads.js"></script>
                <noscript>
                    <iframe src="https://syndication.realsrv.com/ads-iframe-display.php?idzone=4085814&output=noscript"
                        width="100%" height="100%" scrolling="no" marginwidth="0" marginheight="0"
                        frameborder="0"></iframe>
                </noscript>
            </div>
            <div class="tbl2C tbl2C2">
                <script type="application/javascript">
                    var ad_idzone = "4085818",
                        ad_width = "100%",
                        ad_height = "100%"
                </script>
                <script type="application/javascript" src="https://a.realsrv.com/ads.js"></script>
                <noscript>
                    <iframe src="https://syndication.realsrv.com/ads-iframe-display.php?idzone=4085818&output=noscript"
                        width="100%" height="100%" scrolling="no" marginwidth="0" marginheight="0"
                        frameborder="0"></iframe>
                </noscript>
            </div>
        </div>
    </div>
</div>


<div class="indexHd" style="display: none;">
    <div>Top Rated Videos</div>
    <div><a href="video/topRated?page=1">more...</a></div>
</div>
<div class="containerID" style="margin-top: 12px;">{body.topRated}</div>

<div class="advert">
    <div class="mAds2" style="display:none">
        <div class="mblB mblB1">
            <script type="application/javascript">
                var ad_idzone = "4085794",
                    ad_width = "100%",
                    ad_height = "100%"
            </script>
            <script type="application/javascript" src="https://a.realsrv.com/ads.js"></script>
            <noscript>
                <iframe src="https://syndication.realsrv.com/ads-iframe-display.php?idzone=4085794&output=noscript"
                    width="100%" height="100%" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>
            </noscript>
        </div>
        
        <div class="mblB mblB2">
            <script type="application/javascript">
                var ad_idzone = "4085804",
                    ad_width = "100%",
                    ad_height = "100%"
            </script>
            <script type="application/javascript" src="https://a.realsrv.com/ads.js"></script>
            <noscript>
                <iframe src="https://syndication.realsrv.com/ads-iframe-display.php?idzone=4085804&output=noscript"
                    width="100%" height="100%" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>
            </noscript>
        </div>
        <div class="mblB mblB3">
            <script type="application/javascript">
                var ad_idzone = "4085808",
                    ad_width = "100%",
                    ad_height = "100%"
            </script>
            <script type="application/javascript" src="https://a.realsrv.com/ads.js"></script>
            <noscript>
                <iframe src="https://syndication.realsrv.com/ads-iframe-display.php?idzone=4085808&output=noscript"
                    width="100%" height="100%" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>
            </noscript>
        </div>
        <div class="mblB mblB4">
            <script type="application/javascript">
                var ad_idzone = "4085810",
                    ad_width = "100%",
                    ad_height = "100%"
            </script>
            <script type="application/javascript" src="https://a.realsrv.com/ads.js"></script>
            <noscript>
                <iframe src="https://syndication.realsrv.com/ads-iframe-display.php?idzone=4085810&output=noscript"
                    width="100%" height="100%" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>
            </noscript>
        </div>
        <div class="mblB mblB5">
            <script type="application/javascript">
                var ad_idzone = "4085814",
                    ad_width = "100%",
                    ad_height = "100%"
            </script>
            <script type="application/javascript" src="https://a.realsrv.com/ads.js"></script>
            <noscript>
                <iframe src="https://syndication.realsrv.com/ads-iframe-display.php?idzone=4085814&output=noscript"
                    width="100%" height="100%" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>
            </noscript>
        </div>
        <div class="mblB mblB6">
            <script type="application/javascript">
                var ad_idzone = "4085818",
                    ad_width = "100%",
                    ad_height = "100%"
            </script>
            <script type="application/javascript" src="https://a.realsrv.com/ads.js"></script>
            <noscript>
                <iframe src="https://syndication.realsrv.com/ads-iframe-display.php?idzone=4085818&output=noscript"
                    width="100%" height="100%" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>
            </noscript>
        </div>
    </div>

    <div class="bgAd" style="display: none;">
        <div class="tabAds">
            <div class="tbl3A tbl3A1">
                <script type="application/javascript">
                    var ad_idzone = "4085794",
                        ad_width = "100%",
                        ad_height = "100%"
                </script>
                <script type="application/javascript" src="https://a.realsrv.com/ads.js"></script>
                <noscript>
                    <iframe src="https://syndication.realsrv.com/ads-iframe-display.php?idzone=4085794&output=noscript"
                        width="100%" height="100%" scrolling="no" marginwidth="0" marginheight="0"
                        frameborder="0"></iframe>
                </noscript>
            </div>
            <div class="tbl3A tbl3A2">
                <script type="application/javascript">
                    var ad_idzone = "4085804",
                        ad_width = "100%",
                        ad_height = "100%"
                </script>
                <script type="application/javascript" src="https://a.realsrv.com/ads.js"></script>
                <noscript>
                    <iframe src="https://syndication.realsrv.com/ads-iframe-display.php?idzone=4085804&output=noscript"
                        width="100%" height="100%" scrolling="no" marginwidth="0" marginheight="0"
                        frameborder="0"></iframe>
                </noscript>
            </div>
        </div>
        
        <div class="tabAds">
            <div class="tbl3B tbl3B1">
                <script type="application/javascript">
                    var ad_idzone = "4085808",
                        ad_width = "100%",
                        ad_height = "100%"
                </script>
                <script type="application/javascript" src="https://a.realsrv.com/ads.js"></script>
                <noscript>
                    <iframe src="https://syndication.realsrv.com/ads-iframe-display.php?idzone=4085808&output=noscript"
                        width="100%" height="100%" scrolling="no" marginwidth="0" marginheight="0"
                        frameborder="0"></iframe>
                </noscript>
            </div>
            <div class="tbl3B tbl3B2">
                <script type="application/javascript">
                    var ad_idzone = "4085810",
                        ad_width = "100%",
                        ad_height = "100%"
                </script>
                <script type="application/javascript" src="https://a.realsrv.com/ads.js"></script>
                <noscript>
                    <iframe src="https://syndication.realsrv.com/ads-iframe-display.php?idzone=4085810&output=noscript"
                        width="100%" height="100%" scrolling="no" marginwidth="0" marginheight="0"
                        frameborder="0"></iframe>
                </noscript>
            </div>
        </div>
        <div class="tabAds">
            <div class="tbl3C tbl3C1">
                <script type="application/javascript">
                    var ad_idzone = "4085814",
                        ad_width = "100%",
                        ad_height = "100%"
                </script>
                <script type="application/javascript" src="https://a.realsrv.com/ads.js"></script>
                <noscript>
                    <iframe src="https://syndication.realsrv.com/ads-iframe-display.php?idzone=4085814&output=noscript"
                        width="100%" height="100%" scrolling="no" marginwidth="0" marginheight="0"
                        frameborder="0"></iframe>
                </noscript>
            </div>
            <div class="tbl3C tbl3C2">
                <script type="application/javascript">
                    var ad_idzone = "4085818",
                        ad_width = "100%",
                        ad_height = "100%"
                </script>
                <script type="application/javascript" src="https://a.realsrv.com/ads.js"></script>
                <noscript>
                    <iframe src="https://syndication.realsrv.com/ads-iframe-display.php?idzone=4085818&output=noscript"
                        width="100%" height="100%" scrolling="no" marginwidth="0" marginheight="0"
                        frameborder="0"></iframe>
                </noscript>
            </div>
        </div>
    </div>
</div>

<div class="indexHd" style="display: none;">
    <div>Most Watched Videos</div>
    <div><a href="video/mostViewed?page=1">more...</a></div>
</div>
<div class="containerID" style="margin-top: 12px;">{body.mostWatched}</div>