<div id="wrapper">
    <div class="container">
        <div class="half1">
            {body.videoData1}
        </div>
        <div class="advert part">
            <div class="mAds1" style="display:none">
                <div class="mblA mblA1">
                    <script type="application/javascript">
                        var ad_idzone = "4085794",
                            ad_width = "100%",
                            ad_height = "100%"
                    </script>
                    <script type="application/javascript" src="https://a.realsrv.com/ads.js"></script>
                    <noscript>
                        <iframe src="https://syndication.realsrv.com/ads-iframe-display.php?idzone=4085794&output=noscript"
                            width="100%" height="100%" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>
                    </noscript>
                </div>
                <!-- Level 2 -->
                <div class="mblA mblA2">
                    <script type="application/javascript">
                        var ad_idzone = "4085804",
                            ad_width = "100%",
                            ad_height = "100%"
                    </script>
                    <script type="application/javascript" src="https://a.realsrv.com/ads.js"></script>
                    <noscript>
                        <iframe src="https://syndication.realsrv.com/ads-iframe-display.php?idzone=4085804&output=noscript"
                            width="100%" height="100%" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>
                    </noscript>
                </div>
                <!-- Level 3 -->
                <div class="mblA mblA3">
                    <script type="application/javascript">
                        var ad_idzone = "4085808",
                            ad_width = "100%",
                            ad_height = "100%"
                    </script>
                    <script type="application/javascript" src="https://a.realsrv.com/ads.js"></script>
                    <noscript>
                        <iframe src="https://syndication.realsrv.com/ads-iframe-display.php?idzone=4085808&output=noscript"
                            width="100%" height="100%" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>
                    </noscript>
                </div>
                <div class="mblA mblA4">
                    <script type="application/javascript">
                        var ad_idzone = "4085810",
                            ad_width = "100%",
                            ad_height = "100%"
                    </script>
                    <script type="application/javascript" src="https://a.realsrv.com/ads.js"></script>
                    <noscript>
                        <iframe src="https://syndication.realsrv.com/ads-iframe-display.php?idzone=4085810&output=noscript"
                            width="100%" height="100%" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>
                    </noscript>
                </div>
                <div class="mblA mblA5">
                    <script type="application/javascript">
                        var ad_idzone = "4085814",
                            ad_width = "100%",
                            ad_height = "100%"
                    </script>
                    <script type="application/javascript" src="https://a.realsrv.com/ads.js"></script>
                    <noscript>
                        <iframe src="https://syndication.realsrv.com/ads-iframe-display.php?idzone=4085814&output=noscript"
                            width="100%" height="100%" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>
                    </noscript>
                </div>
                <div class="mblA mblA6">
                    <script type="application/javascript">
                        var ad_idzone = "4085818",
                            ad_width = "100%",
                            ad_height = "100%"
                    </script>
                    <script type="application/javascript" src="https://a.realsrv.com/ads.js"></script>
                    <noscript>
                        <iframe src="https://syndication.realsrv.com/ads-iframe-display.php?idzone=4085818&output=noscript"
                            width="100%" height="100%" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>
                    </noscript>
                </div>
            </div>
        
            <div class="bgAd" style="display: none;">
                <!-- Level 1 -->
                <div class="tabAds">
                    <div class="tbl1A tbl1A1">
                        <script type="application/javascript">
                            var ad_idzone = "4085794",
                                ad_width = "100%",
                                ad_height = "100%"
                        </script>
                        <script type="application/javascript" src="https://a.realsrv.com/ads.js"></script>
                        <noscript>
                            <iframe src="https://syndication.realsrv.com/ads-iframe-display.php?idzone=4085794&output=noscript"
                                width="100%" height="100%" scrolling="no" marginwidth="0" marginheight="0"
                                frameborder="0"></iframe>
                        </noscript>
                    </div>
                    <div class="tbl1A tbl1A2">
                        <script type="application/javascript">
                            var ad_idzone = "4085804",
                                ad_width = "100%",
                                ad_height = "100%"
                        </script>
                        <script type="application/javascript" src="https://a.realsrv.com/ads.js"></script>
                        <noscript>
                            <iframe src="https://syndication.realsrv.com/ads-iframe-display.php?idzone=4085804&output=noscript"
                                width="100%" height="100%" scrolling="no" marginwidth="0" marginheight="0"
                                frameborder="0"></iframe>
                        </noscript>
                    </div>
                </div>
                <!-- Level 2 -->
                <div class="tabAds">
                    <div class="tbl1B tbl1B1">
                        <script type="application/javascript">
                            var ad_idzone = "4085808",
                                ad_width = "100%",
                                ad_height = "100%"
                        </script>
                        <script type="application/javascript" src="https://a.realsrv.com/ads.js"></script>
                        <noscript>
                            <iframe src="https://syndication.realsrv.com/ads-iframe-display.php?idzone=4085808&output=noscript"
                                width="100%" height="100%" scrolling="no" marginwidth="0" marginheight="0"
                                frameborder="0"></iframe>
                        </noscript>
                    </div>
                    <div class="tbl1B tbl1B2">
                        <script type="application/javascript">
                            var ad_idzone = "4085810",
                                ad_width = "100%",
                                ad_height = "100%"
                        </script>
                        <script type="application/javascript" src="https://a.realsrv.com/ads.js"></script>
                        <noscript>
                            <iframe src="https://syndication.realsrv.com/ads-iframe-display.php?idzone=4085810&output=noscript"
                                width="100%" height="100%" scrolling="no" marginwidth="0" marginheight="0"
                                frameborder="0"></iframe>
                        </noscript>
                    </div>
                </div>
                <!-- Level 3 -->
                <div class="tabAds">
                    <div class="tbl1C tbl1C1">
                        <script type="application/javascript">
                            var ad_idzone = "4085814",
                                ad_width = "100%",
                                ad_height = "100%"
                        </script>
                        <script type="application/javascript" src="https://a.realsrv.com/ads.js"></script>
                        <noscript>
                            <iframe src="https://syndication.realsrv.com/ads-iframe-display.php?idzone=4085814&output=noscript"
                                width="100%" height="100%" scrolling="no" marginwidth="0" marginheight="0"
                                frameborder="0"></iframe>
                        </noscript>
                    </div>
                    <div class="tbl1C tbl1C2">
                        <script type="application/javascript">
                            var ad_idzone = "4085818",
                                ad_width = "100%",
                                ad_height = "100%"
                        </script>
                        <script type="application/javascript" src="https://a.realsrv.com/ads.js"></script>
                        <noscript>
                            <iframe src="https://syndication.realsrv.com/ads-iframe-display.php?idzone=4085818&output=noscript"
                                width="100%" height="100%" scrolling="no" marginwidth="0" marginheight="0"
                                frameborder="0"></iframe>
                        </noscript>
                    </div>
                </div>
            </div>
        </div>
        <div class="half2">
            {body.videoData2}
        </div>
    </div>
    <div id="l-Ad">
        <div class="inAd up">
            <div class="mAds2" style="display:none">
                <div class="mblB mblB1">
                    <script type="application/javascript">
                        var ad_idzone = "4085794",
                            ad_width = "100%",
                            ad_height = "100%"
                    </script>
                    <script type="application/javascript" src="https://a.realsrv.com/ads.js"></script>
                    <noscript>
                        <iframe src="https://syndication.realsrv.com/ads-iframe-display.php?idzone=4085794&output=noscript"
                            width="100%" height="100%" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>
                    </noscript>
                </div>
                <!-- Level 2 -->
                <div class="mblB mblB2">
                    <script type="application/javascript">
                        var ad_idzone = "4085804",
                            ad_width = "100%",
                            ad_height = "100%"
                    </script>
                    <script type="application/javascript" src="https://a.realsrv.com/ads.js"></script>
                    <noscript>
                        <iframe src="https://syndication.realsrv.com/ads-iframe-display.php?idzone=4085804&output=noscript"
                            width="100%" height="100%" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>
                    </noscript>
                </div>
                <!-- Level 3 -->
                <div class="mblB mblB3">
                    <script type="application/javascript">
                        var ad_idzone = "4085808",
                            ad_width = "100%",
                            ad_height = "100%"
                    </script>
                    <script type="application/javascript" src="https://a.realsrv.com/ads.js"></script>
                    <noscript>
                        <iframe src="https://syndication.realsrv.com/ads-iframe-display.php?idzone=4085808&output=noscript"
                            width="100%" height="100%" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>
                    </noscript>
                </div>
                <div class="mblB mblB4">
                    <script type="application/javascript">
                        var ad_idzone = "4085810",
                            ad_width = "100%",
                            ad_height = "100%"
                    </script>
                    <script type="application/javascript" src="https://a.realsrv.com/ads.js"></script>
                    <noscript>
                        <iframe src="https://syndication.realsrv.com/ads-iframe-display.php?idzone=4085810&output=noscript"
                            width="100%" height="100%" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>
                    </noscript>
                </div>
                <div class="mblB mblB5">
                    <script type="application/javascript">
                        var ad_idzone = "4085814",
                            ad_width = "100%",
                            ad_height = "100%"
                    </script>
                    <script type="application/javascript" src="https://a.realsrv.com/ads.js"></script>
                    <noscript>
                        <iframe src="https://syndication.realsrv.com/ads-iframe-display.php?idzone=4085814&output=noscript"
                            width="100%" height="100%" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>
                    </noscript>
                </div>
                <div class="mblB mblB6">
                    <script type="application/javascript">
                        var ad_idzone = "4085818",
                            ad_width = "100%",
                            ad_height = "100%"
                    </script>
                    <script type="application/javascript" src="https://a.realsrv.com/ads.js"></script>
                    <noscript>
                        <iframe src="https://syndication.realsrv.com/ads-iframe-display.php?idzone=4085818&output=noscript"
                            width="100%" height="100%" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>
                    </noscript>
                </div>
            </div>
        </div>
        <div class="inAd">
            <div class="mAds3" style="display:none">
                <div class="mblC mblC1">
                    <script type="application/javascript">
                        var ad_idzone = "4085794",
                            ad_width = "100%",
                            ad_height = "100%"
                    </script>
                    <script type="application/javascript" src="https://a.realsrv.com/ads.js"></script>
                    <noscript>
                        <iframe src="https://syndication.realsrv.com/ads-iframe-display.php?idzone=4085794&output=noscript"
                            width="100%" height="100%" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>
                    </noscript>
                </div>
                <!-- Level 2 -->
                <div class="mblC mblC2">
                    <script type="application/javascript">
                        var ad_idzone = "4085804",
                            ad_width = "100%",
                            ad_height = "100%"
                    </script>
                    <script type="application/javascript" src="https://a.realsrv.com/ads.js"></script>
                    <noscript>
                        <iframe src="https://syndication.realsrv.com/ads-iframe-display.php?idzone=4085804&output=noscript"
                            width="100%" height="100%" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>
                    </noscript>
                </div>
                <!-- Level 3 -->
                <div class="mblC mblC3">
                    <script type="application/javascript">
                        var ad_idzone = "4085808",
                            ad_width = "100%",
                            ad_height = "100%"
                    </script>
                    <script type="application/javascript" src="https://a.realsrv.com/ads.js"></script>
                    <noscript>
                        <iframe src="https://syndication.realsrv.com/ads-iframe-display.php?idzone=4085808&output=noscript"
                            width="100%" height="100%" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>
                    </noscript>
                </div>
                <div class="mblC mblC4">
                    <script type="application/javascript">
                        var ad_idzone = "4085810",
                            ad_width = "100%",
                            ad_height = "100%"
                    </script>
                    <script type="application/javascript" src="https://a.realsrv.com/ads.js"></script>
                    <noscript>
                        <iframe src="https://syndication.realsrv.com/ads-iframe-display.php?idzone=4085810&output=noscript"
                            width="100%" height="100%" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>
                    </noscript>
                </div>
                <div class="mblC mblC5">
                    <script type="application/javascript">
                        var ad_idzone = "4085814",
                            ad_width = "100%",
                            ad_height = "100%"
                    </script>
                    <script type="application/javascript" src="https://a.realsrv.com/ads.js"></script>
                    <noscript>
                        <iframe src="https://syndication.realsrv.com/ads-iframe-display.php?idzone=4085814&output=noscript"
                            width="100%" height="100%" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>
                    </noscript>
                </div>
                <div class="mblC mblC6">
                    <script type="application/javascript">
                        var ad_idzone = "4085818",
                            ad_width = "100%",
                            ad_height = "100%"
                    </script>
                    <script type="application/javascript" src="https://a.realsrv.com/ads.js"></script>
                    <noscript>
                        <iframe src="https://syndication.realsrv.com/ads-iframe-display.php?idzone=4085818&output=noscript"
                            width="100%" height="100%" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>
                    </noscript>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="nxt" class="nxt {body.hide}">
    <a href="video/mostViewed?page={body.prevPage}" class="{body.prev}">... Prev page</a>
    <a href="video/mostViewed?page={body.nextPage}" class="{body.next}">Next page ...</a>
</div>