<div id="container">
	<div id="videoDiv">
		<div id="up2">
			<div id="iframe-container">
				{body.videoData}
				<script>
					var meta = document.querySelectorAll("#iframe-container meta");
					var link = document.querySelectorAll("#iframe-container link");
					var titleH = document.querySelector("#iframe-container title");
					var input = document.querySelectorAll("input");
					var script = document.querySelectorAll("script");
					var Rlogo = document.querySelector("div.mhp1138_logo");
					Rlogo.setAttribute("style", "display:none;");
					titleH.remove();

					for (var prop of input) {
						if (prop.type == "hidden") {
							prop.remove();
						}
					}

					for (var prop of meta) {
						if (prop.name) {
							prop.remove();
						}
					}

					for (var prop of script) {
						if (prop.id == "htScript") {
							prop.remove();
						}

						if (prop.src == "https://static.trafficjunky.com/ab/ads_test.js") {
							prop.remove();
						}
					}

					for (var prop of link) {
						if (prop.rel == "preconnect") {
							prop.remove();
						}

						if (prop.rel == "dns-prefetch") {
							prop.remove();
						}

						if (prop.rel == "alternate") {
							prop.remove();
						}

						if (prop.rel == "manifest") {
							prop.remove();
						}

						if (prop.rel == "icon") {
							prop.remove();
						}

						if (prop.rel == "shortcut icon") {
							prop.remove();
						}
					}

					var body = document.getElementById("Boobs");
					body.removeAttribute("style");
					var rm = document.getElementById("mhp1138_skin_desktop");
					rm.remove();
				</script>
			</div>
			<div id="ad-container">
				<div style="margin: auto">
					<script type="application/javascript" data-idzone="4191254" src="https://a.realsrv.com/nativeads-v2.js"></script>
				</div>
			</div>
		</div>

		<div id="tag-T">
			<div id="tag-TCont">
				<div id="tle">
					<p class="t">Title:</p>
					<p class="x">{body.title}</p>
				</div>
				<div id="tags">
					<p class="t">Tags:</p>
					<p class="x">{body.tag}</p>
				</div>
			</div>
			<div id="ads-extend"></div>
		</div>
	</div>

	<div class="advert_1 adjust">
		<script type="application/javascript" data-idzone="4191210" src="https://a.realsrv.com/nativeads-v2.js"></script>
	</div>
	<div class="indexHd">
		<div style="color: black">Related Videos</div>
		<div><a href="" style="visibility: hidden">more...</a></div>
	</div>
	<div class="containerPV">
		<div class="half1">{body.related1}</div>
		<div class="advert_2">
			<script type="application/javascript" data-idzone="4191216" src="https://a.realsrv.com/nativeads-v2.js"></script>
		</div>
		<div class="half2">{body.related2}</div>
	</div>
</div>
