<div id="container">
	<div id="videoDiv">
		<div id="up2">
			<div id="iframe-container">
				{body.videoData}
				<script>
					var meta = document.querySelectorAll("#iframe-container meta");
					var link = document.querySelectorAll("#iframe-container link");
					var titleH = document.querySelector("#iframe-container title");
					var input = document.querySelectorAll("input");
					var s = document.querySelectorAll("#iframe-container, script");
					var Rlogo = document.querySelector("div.mhp1138_logo");
					Rlogo.setAttribute("style", "display:none;");
					titleH.remove();
					s[4].remove();
					s[5].remove();

					for (var prop of input) {
						if (prop.type == "hidden") {
							prop.remove();
						}
					}

					for (var prop of meta) {
						if (prop.name) {
							prop.remove();
						}
					}

					for (var prop of s) {
						if (prop.id == "htScript") {
							prop.remove();
						}

						if (prop.src == "https://static.trafficjunky.com/ab/ads_test.js") {
							prop.remove();
						}
					}

					for (var prop of link) {
						if (prop.rel == "preconnect") {
							prop.remove();
						}

						if (prop.rel == "canonical") {
							prop.remove();
						}

						if (prop.rel == "dns-prefetch") {
							prop.remove();
						}

						if (prop.rel == "alternate") {
							prop.remove();
						}

						if (prop.rel == "manifest") {
							prop.remove();
						}

						if (prop.rel == "icon") {
							prop.remove();
						}

						if (prop.rel == "shortcut icon") {
							prop.remove();
						}
					}

					var body = document.getElementById("Boobs");
					body.removeAttribute("style");
					var rm = document.getElementById("mhp1138_skin_desktop");
					rm.remove();
				</script>
			</div>
			<div id="ad-container">
				<div>
					<div class="mAds1" style="display: none">
						<div class="mblA mblA1">
							<script type="application/javascript">
								var ad_idzone = "4085794",
									ad_width = "100%",
									ad_height = "100%";
							</script>
							<script type="application/javascript" src="https://a.realsrv.com/ads.js"></script>
							<noscript>
								<iframe
									src="https://syndication.realsrv.com/ads-iframe-display.php?idzone=4085794&output=noscript"
									width="100%" height="100%" scrolling="no" marginwidth="0" marginheight="0"
									frameborder="0"></iframe>
							</noscript>
						</div>

						<div class="mblA mblA2">
							<script type="application/javascript">
								var ad_idzone = "4085804",
									ad_width = "100%",
									ad_height = "100%";
							</script>
							<script type="application/javascript" src="https://a.realsrv.com/ads.js"></script>
							<noscript>
								<iframe
									src="https://syndication.realsrv.com/ads-iframe-display.php?idzone=4085804&output=noscript"
									width="100%" height="100%" scrolling="no" marginwidth="0" marginheight="0"
									frameborder="0"></iframe>
							</noscript>
						</div>
						<div class="mblA mblA3">
							<script type="application/javascript">
								var ad_idzone = "4085808",
									ad_width = "100%",
									ad_height = "100%";
							</script>
							<script type="application/javascript" src="https://a.realsrv.com/ads.js"></script>
							<noscript>
								<iframe
									src="https://syndication.realsrv.com/ads-iframe-display.php?idzone=4085808&output=noscript"
									width="100%" height="100%" scrolling="no" marginwidth="0" marginheight="0"
									frameborder="0"></iframe>
							</noscript>
						</div>
						<div class="mblA mblA4">
							<script type="application/javascript">
								var ad_idzone = "4085810",
									ad_width = "100%",
									ad_height = "100%";
							</script>
							<script type="application/javascript" src="https://a.realsrv.com/ads.js"></script>
							<noscript>
								<iframe
									src="https://syndication.realsrv.com/ads-iframe-display.php?idzone=4085810&output=noscript"
									width="100%" height="100%" scrolling="no" marginwidth="0" marginheight="0"
									frameborder="0"></iframe>
							</noscript>
						</div>
						<div class="mblA mblA5">
							<script type="application/javascript">
								var ad_idzone = "4085814",
									ad_width = "100%",
									ad_height = "100%";
							</script>
							<script type="application/javascript" src="https://a.realsrv.com/ads.js"></script>
							<noscript>
								<iframe
									src="https://syndication.realsrv.com/ads-iframe-display.php?idzone=4085814&output=noscript"
									width="100%" height="100%" scrolling="no" marginwidth="0" marginheight="0"
									frameborder="0"></iframe>
							</noscript>
						</div>
						<div class="mblA mblA6">
							<script type="application/javascript">
								var ad_idzone = "4085818",
									ad_width = "100%",
									ad_height = "100%";
							</script>
							<script type="application/javascript" src="https://a.realsrv.com/ads.js"></script>
							<noscript>
								<iframe
									src="https://syndication.realsrv.com/ads-iframe-display.php?idzone=4085818&output=noscript"
									width="100%" height="100%" scrolling="no" marginwidth="0" marginheight="0"
									frameborder="0"></iframe>
							</noscript>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div id="tag-T">
			<div id="tag-TCont">
				<div id="tle">
					<p class="t">Title:</p>
					<p class="x">{body.title}</p>
				</div>
				<div id="tags">
					<p class="t">Tags:</p>
					<p class="x">{body.tag}</p>
				</div>
			</div>
			<div id="ads-extend"></div>
		</div>
	</div>

	<div class="advert adjust">
		<div class="mAd" style="display: none">
			<div class="mAds">
				<div class="mbl2A mbl2A1">
					<script type="application/javascript">
						var ad_idzone = "4085794",
							ad_width = "100%",
							ad_height = "100%";
					</script>
					<script type="application/javascript" src="https://a.realsrv.com/ads.js"></script>
					<noscript>
						<iframe
							src="https://syndication.realsrv.com/ads-iframe-display.php?idzone=4085794&output=noscript"
							width="100%" height="100%" scrolling="no" marginwidth="0" marginheight="0"
							frameborder="0"></iframe>
					</noscript>
				</div>
				<div class="mbl2A mbl2A2">
					<script type="application/javascript">
						var ad_idzone = "4085804",
							ad_width = "100%",
							ad_height = "100%";
					</script>
					<script type="application/javascript" src="https://a.realsrv.com/ads.js"></script>
					<noscript>
						<iframe
							src="https://syndication.realsrv.com/ads-iframe-display.php?idzone=4085804&output=noscript"
							width="100%" height="100%" scrolling="no" marginwidth="0" marginheight="0"
							frameborder="0"></iframe>
					</noscript>
				</div>
				<div class="mbl2A mbl2A3">
					<script type="application/javascript">
						var ad_idzone = "4085808",
							ad_width = "100%",
							ad_height = "100%";
					</script>
					<script type="application/javascript" src="https://a.realsrv.com/ads.js"></script>
					<noscript>
						<iframe
							src="https://syndication.realsrv.com/ads-iframe-display.php?idzone=4085808&output=noscript"
							width="100%" height="100%" scrolling="no" marginwidth="0" marginheight="0"
							frameborder="0"></iframe>
					</noscript>
				</div>
				<div class="mbl2A mbl2A4">
					<script type="application/javascript">
						var ad_idzone = "4085810",
							ad_width = "100%",
							ad_height = "100%";
					</script>
					<script type="application/javascript" src="https://a.realsrv.com/ads.js"></script>
					<noscript>
						<iframe
							src="https://syndication.realsrv.com/ads-iframe-display.php?idzone=4085810&output=noscript"
							width="100%" height="100%" scrolling="no" marginwidth="0" marginheight="0"
							frameborder="0"></iframe>
					</noscript>
				</div>
				<div class="mbl2A mbl2A5">
					<script type="application/javascript">
						var ad_idzone = "4085814",
							ad_width = "100%",
							ad_height = "100%";
					</script>
					<script type="application/javascript" src="https://a.realsrv.com/ads.js"></script>
					<noscript>
						<iframe
							src="https://syndication.realsrv.com/ads-iframe-display.php?idzone=4085814&output=noscript"
							width="100%" height="100%" scrolling="no" marginwidth="0" marginheight="0"
							frameborder="0"></iframe>
					</noscript>
				</div>
				<div class="mbl2A mbl2A6">
					<script type="application/javascript">
						var ad_idzone = "4085818",
							ad_width = "100%",
							ad_height = "100%";
					</script>
					<script type="application/javascript" src="https://a.realsrv.com/ads.js"></script>
					<noscript>
						<iframe
							src="https://syndication.realsrv.com/ads-iframe-display.php?idzone=4085818&output=noscript"
							width="100%" height="100%" scrolling="no" marginwidth="0" marginheight="0"
							frameborder="0"></iframe>
					</noscript>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="indexHd">
	<div style="color: black">Related Videos</div>
	<div><a href="" style="visibility: hidden">more...</a></div>
</div>
<div class="containerPV">
	<div class="half1 conFive" id="conFive">{body.related1}</div>
	<div class="advert">
		<div class="mAd" style="display: none">
			<div class="mAds">
				<script type="application/javascript" data-idzone="4191210"
					src="https://a.realsrv.com/nativeads-v2.js"></script>
			</div>
		</div>

		<div class="ipAd" style="display: none">
			<div class="ipAds">
				<script type="application/javascript" data-idzone="4191222"
					src="https://a.realsrv.com/nativeads-v2.js"></script>
			</div>
		</div>

		<div class="tAd" style="display: none">
			<div class="tAds">
				<script type="application/javascript" data-idzone="4191192"
					src="https://a.realsrv.com/nativeads-v2.js"></script>
			</div>
		</div>

		<div class="dpAd" style="display: none">
			<script type="application/javascript" data-idzone="4191216"
				src="https://a.realsrv.com/nativeads-v2.js"></script>
		</div>
	</div>
	<div class="half2 conSix" id="conSix">{body.related2}</div>
</div>
</div>