<div id="wrapper">
	<div class="container">
		<div class="half1">{body.videoData1}</div>
		<div class="advert_1 part">
			<script type="application/javascript" data-idzone="4191210" src="https://a.realsrv.com/nativeads-v2.js"></script>
		</div>
		<div class="half2">{body.videoData2}</div>
	</div>
	<div id="l-Ad">
		<div class="inAd up">
			<script type="application/javascript" data-idzone="4191230" src="https://a.realsrv.com/nativeads-v2.js"></script>
		</div>
		<div class="inAd">
			<script type="application/javascript" data-idzone="4191234" src="https://a.realsrv.com/nativeads-v2.js"></script>
		</div>
	</div>
</div>

<div id="nxt" class="nxt {body.hide}">
	<a href="video/recommended?page={body.prevPage}" class="{body.prev}">... Prev page</a>
	<a href="video/recommended?page={body.nextPage}" class="{body.next}">Next page ...</a>
</div>
