<div id="wrapper">
	<div class="container">
		<div class="half1 conFive" id="conFive">{body.videoData1}</div>
		<div class="advert part">
			<div class="mAd" style="display: none">
				<div class="mAds">
					<div class="mbl1A mbl1A1">
						<script type="application/javascript">
							var ad_idzone = "4085794",
								ad_width = "100%",
								ad_height = "100%";
						</script>
						<script type="application/javascript" src="https://a.realsrv.com/ads.js"></script>
						<noscript>
							<iframe
								src="https://syndication.realsrv.com/ads-iframe-display.php?idzone=4085794&output=noscript"
								width="100%" height="100%" scrolling="no" marginwidth="0" marginheight="0"
								frameborder="0"></iframe>
						</noscript>
					</div>
					<div class="mbl1A mbl1A2">
						<script type="application/javascript">
							var ad_idzone = "4085804",
								ad_width = "100%",
								ad_height = "100%";
						</script>
						<script type="application/javascript" src="https://a.realsrv.com/ads.js"></script>
						<noscript>
							<iframe
								src="https://syndication.realsrv.com/ads-iframe-display.php?idzone=4085804&output=noscript"
								width="100%" height="100%" scrolling="no" marginwidth="0" marginheight="0"
								frameborder="0"></iframe>
						</noscript>
					</div>
					<div class="mbl1A mbl1A3">
						<script type="application/javascript">
							var ad_idzone = "4085808",
								ad_width = "100%",
								ad_height = "100%";
						</script>
						<script type="application/javascript" src="https://a.realsrv.com/ads.js"></script>
						<noscript>
							<iframe
								src="https://syndication.realsrv.com/ads-iframe-display.php?idzone=4085808&output=noscript"
								width="100%" height="100%" scrolling="no" marginwidth="0" marginheight="0"
								frameborder="0"></iframe>
						</noscript>
					</div>
					<div class="mbl1A mbl1A4">
						<script type="application/javascript">
							var ad_idzone = "4085810",
								ad_width = "100%",
								ad_height = "100%";
						</script>
						<script type="application/javascript" src="https://a.realsrv.com/ads.js"></script>
						<noscript>
							<iframe
								src="https://syndication.realsrv.com/ads-iframe-display.php?idzone=4085810&output=noscript"
								width="100%" height="100%" scrolling="no" marginwidth="0" marginheight="0"
								frameborder="0"></iframe>
						</noscript>
					</div>
					<div class="mbl1A mbl1A5">
						<script type="application/javascript">
							var ad_idzone = "4085814",
								ad_width = "100%",
								ad_height = "100%";
						</script>
						<script type="application/javascript" src="https://a.realsrv.com/ads.js"></script>
						<noscript>
							<iframe
								src="https://syndication.realsrv.com/ads-iframe-display.php?idzone=4085814&output=noscript"
								width="100%" height="100%" scrolling="no" marginwidth="0" marginheight="0"
								frameborder="0"></iframe>
						</noscript>
					</div>
					<div class="mbl1A mbl1A6">
						<script type="application/javascript">
							var ad_idzone = "4085818",
								ad_width = "100%",
								ad_height = "100%";
						</script>
						<script type="application/javascript" src="https://a.realsrv.com/ads.js"></script>
						<noscript>
							<iframe
								src="https://syndication.realsrv.com/ads-iframe-display.php?idzone=4085818&output=noscript"
								width="100%" height="100%" scrolling="no" marginwidth="0" marginheight="0"
								frameborder="0"></iframe>
						</noscript>
					</div>
				</div>
			</div>

			<div class="tAd" style="display: none">
				<div class="tAds">
					<div class="tbl1A tbl1A1">
						<script type="application/javascript">
							var ad_idzone = "4085794",
								ad_width = "100%",
								ad_height = "100%";
						</script>
						<script type="application/javascript" src="https://a.realsrv.com/ads.js"></script>
						<noscript>
							<iframe
								src="https://syndication.realsrv.com/ads-iframe-display.php?idzone=4085794&output=noscript"
								width="100%" height="100%" scrolling="no" marginwidth="0" marginheight="0"
								frameborder="0"></iframe>
						</noscript>
					</div>
					<div class="tbl1A tbl1A2">
						<script type="application/javascript">
							var ad_idzone = "4085804",
								ad_width = "100%",
								ad_height = "100%";
						</script>
						<script type="application/javascript" src="https://a.realsrv.com/ads.js"></script>
						<noscript>
							<iframe
								src="https://syndication.realsrv.com/ads-iframe-display.php?idzone=4085804&output=noscript"
								width="100%" height="100%" scrolling="no" marginwidth="0" marginheight="0"
								frameborder="0"></iframe>
						</noscript>
					</div>
					<div class="tbl1A tbl1A3">
						<script type="application/javascript">
							var ad_idzone = "4085808",
								ad_width = "100%",
								ad_height = "100%";
						</script>
						<script type="application/javascript" src="https://a.realsrv.com/ads.js"></script>
						<noscript>
							<iframe
								src="https://syndication.realsrv.com/ads-iframe-display.php?idzone=4085808&output=noscript"
								width="100%" height="100%" scrolling="no" marginwidth="0" marginheight="0"
								frameborder="0"></iframe>
						</noscript>
					</div>
				</div>
				<div class="tAds">
					<div class="tbl1B tbl1B1">
						<script type="application/javascript">
							var ad_idzone = "4085810",
								ad_width = "100%",
								ad_height = "100%";
						</script>
						<script type="application/javascript" src="https://a.realsrv.com/ads.js"></script>
						<noscript>
							<iframe
								src="https://syndication.realsrv.com/ads-iframe-display.php?idzone=4085810&output=noscript"
								width="100%" height="100%" scrolling="no" marginwidth="0" marginheight="0"
								frameborder="0"></iframe>
						</noscript>
					</div>
					<div class="tbl1B tbl1B2">
						<script type="application/javascript">
							var ad_idzone = "4085814",
								ad_width = "100%",
								ad_height = "100%";
						</script>
						<script type="application/javascript" src="https://a.realsrv.com/ads.js"></script>
						<noscript>
							<iframe
								src="https://syndication.realsrv.com/ads-iframe-display.php?idzone=4085814&output=noscript"
								width="100%" height="100%" scrolling="no" marginwidth="0" marginheight="0"
								frameborder="0"></iframe>
						</noscript>
					</div>
					<div class="tbl1B tbl1B3">
						<script type="application/javascript">
							var ad_idzone = "4085818",
								ad_width = "100%",
								ad_height = "100%";
						</script>
						<script type="application/javascript" src="https://a.realsrv.com/ads.js"></script>
						<noscript>
							<iframe
								src="https://syndication.realsrv.com/ads-iframe-display.php?idzone=4085818&output=noscript"
								width="100%" height="100%" scrolling="no" marginwidth="0" marginheight="0"
								frameborder="0"></iframe>
						</noscript>
					</div>
				</div>
			</div>

			<div class="ipAd" style="display: none">
				<div class="ipAds">
					<div class="ipl1A ipl1A1">
						<script type="application/javascript">
							var ad_idzone = "4085794",
								ad_width = "100%",
								ad_height = "100%";
						</script>
						<script type="application/javascript" src="https://a.realsrv.com/ads.js"></script>
						<noscript>
							<iframe
								src="https://syndication.realsrv.com/ads-iframe-display.php?idzone=4085794&output=noscript"
								width="100%" height="100%" scrolling="no" marginwidth="0" marginheight="0"
								frameborder="0"></iframe>
						</noscript>
					</div>
					<div class="ipl1A ipl1A2">
						<script type="application/javascript">
							var ad_idzone = "4085804",
								ad_width = "100%",
								ad_height = "100%";
						</script>
						<script type="application/javascript" src="https://a.realsrv.com/ads.js"></script>
						<noscript>
							<iframe
								src="https://syndication.realsrv.com/ads-iframe-display.php?idzone=4085804&output=noscript"
								width="100%" height="100%" scrolling="no" marginwidth="0" marginheight="0"
								frameborder="0"></iframe>
						</noscript>
					</div>
				</div>
				<div class="ipAds">
					<div class="ipl1B ipl1B1">
						<script type="application/javascript">
							var ad_idzone = "4085808",
								ad_width = "100%",
								ad_height = "100%";
						</script>
						<script type="application/javascript" src="https://a.realsrv.com/ads.js"></script>
						<noscript>
							<iframe
								src="https://syndication.realsrv.com/ads-iframe-display.php?idzone=4085808&output=noscript"
								width="100%" height="100%" scrolling="no" marginwidth="0" marginheight="0"
								frameborder="0"></iframe>
						</noscript>
					</div>
					<div class="ipl1B ipl1B2">
						<script type="application/javascript">
							var ad_idzone = "4085810",
								ad_width = "100%",
								ad_height = "100%";
						</script>
						<script type="application/javascript" src="https://a.realsrv.com/ads.js"></script>
						<noscript>
							<iframe
								src="https://syndication.realsrv.com/ads-iframe-display.php?idzone=4085810&output=noscript"
								width="100%" height="100%" scrolling="no" marginwidth="0" marginheight="0"
								frameborder="0"></iframe>
						</noscript>
					</div>
				</div>
				<div class="ipAds">
					<div class="ipl1C ipl1C1">
						<script type="application/javascript">
							var ad_idzone = "4085814",
								ad_width = "100%",
								ad_height = "100%";
						</script>
						<script type="application/javascript" src="https://a.realsrv.com/ads.js"></script>
						<noscript>
							<iframe
								src="https://syndication.realsrv.com/ads-iframe-display.php?idzone=4085814&output=noscript"
								width="100%" height="100%" scrolling="no" marginwidth="0" marginheight="0"
								frameborder="0"></iframe>
						</noscript>
					</div>
					<div class="ipl1C ipl1C2">
						<script type="application/javascript">
							var ad_idzone = "4085818",
								ad_width = "100%",
								ad_height = "100%";
						</script>
						<script type="application/javascript" src="https://a.realsrv.com/ads.js"></script>
						<noscript>
							<iframe
								src="https://syndication.realsrv.com/ads-iframe-display.php?idzone=4085818&output=noscript"
								width="100%" height="100%" scrolling="no" marginwidth="0" marginheight="0"
								frameborder="0"></iframe>
						</noscript>
					</div>
				</div>
			</div>

			<div class="dpAd" style="display: none">
				<div class="dpAds">
					<div class="dpl1A dpl1A1">
						<script type="application/javascript">
							var ad_idzone = "4085794",
								ad_width = "100%",
								ad_height = "100%";
						</script>
						<script type="application/javascript" src="https://a.realsrv.com/ads.js"></script>
						<noscript>
							<iframe
								src="https://syndication.realsrv.com/ads-iframe-display.php?idzone=4085794&output=noscript"
								width="100%" height="100%" scrolling="no" marginwidth="0" marginheight="0"
								frameborder="0"></iframe>
						</noscript>
					</div>
				</div>
				<div class="dpAds">
					<div class="dpl1A dpl1A2">
						<script type="application/javascript">
							var ad_idzone = "4085804",
								ad_width = "100%",
								ad_height = "100%";
						</script>
						<script type="application/javascript" src="https://a.realsrv.com/ads.js"></script>
						<noscript>
							<iframe
								src="https://syndication.realsrv.com/ads-iframe-display.php?idzone=4085804&output=noscript"
								width="100%" height="100%" scrolling="no" marginwidth="0" marginheight="0"
								frameborder="0"></iframe>
						</noscript>
					</div>
				</div>
				<div class="dpAds">
					<div class="dpl1A dpl1A3">
						<script type="application/javascript">
							var ad_idzone = "4085808",
								ad_width = "100%",
								ad_height = "100%";
						</script>
						<script type="application/javascript" src="https://a.realsrv.com/ads.js"></script>
						<noscript>
							<iframe
								src="https://syndication.realsrv.com/ads-iframe-display.php?idzone=4085808&output=noscript"
								width="100%" height="100%" scrolling="no" marginwidth="0" marginheight="0"
								frameborder="0"></iframe>
						</noscript>
					</div>
				</div>
				<div class="dpAds">
					<div class="dpl1A dpl1A4">
						<script type="application/javascript">
							var ad_idzone = "4085810",
								ad_width = "100%",
								ad_height = "100%";
						</script>
						<script type="application/javascript" src="https://a.realsrv.com/ads.js"></script>
						<noscript>
							<iframe
								src="https://syndication.realsrv.com/ads-iframe-display.php?idzone=4085810&output=noscript"
								width="100%" height="100%" scrolling="no" marginwidth="0" marginheight="0"
								frameborder="0"></iframe>
						</noscript>
					</div>
				</div>
				<div class="dpAds">
					<div class="dpl1A dpl1A5">
						<script type="application/javascript">
							var ad_idzone = "4085814",
								ad_width = "100%",
								ad_height = "100%";
						</script>
						<script type="application/javascript" src="https://a.realsrv.com/ads.js"></script>
						<noscript>
							<iframe
								src="https://syndication.realsrv.com/ads-iframe-display.php?idzone=4085814&output=noscript"
								width="100%" height="100%" scrolling="no" marginwidth="0" marginheight="0"
								frameborder="0"></iframe>
						</noscript>
					</div>
				</div>
				<div class="dpAds">
					<div class="dpl1A dpl1A6">
						<script type="application/javascript">
							var ad_idzone = "4085818",
								ad_width = "100%",
								ad_height = "100%";
						</script>
						<script type="application/javascript" src="https://a.realsrv.com/ads.js"></script>
						<noscript>
							<iframe
								src="https://syndication.realsrv.com/ads-iframe-display.php?idzone=4085818&output=noscript"
								width="100%" height="100%" scrolling="no" marginwidth="0" marginheight="0"
								frameborder="0"></iframe>
						</noscript>
					</div>
				</div>
			</div>
		</div>
		<div class="half2 conSix" id="conSix">{body.videoData2}</div>
	</div>
	<div id="l-Ad">
		<div class="fAd" style="display: none">
			<div class="fAds">
				<div class="fbl1A fbl1A1">
					<script type="application/javascript">
						var ad_idzone = "4085794",
							ad_width = "100%",
							ad_height = "100%";
					</script>
					<script type="application/javascript" src="https://a.realsrv.com/ads.js"></script>
					<noscript>
						<iframe
							src="https://syndication.realsrv.com/ads-iframe-display.php?idzone=4085794&output=noscript"
							width="100%" height="100%" scrolling="no" marginwidth="0" marginheight="0"
							frameborder="0"></iframe>
					</noscript>
				</div>
				<div class="fbl1A fbl1A2">
					<script type="application/javascript">
						var ad_idzone = "4085804",
							ad_width = "100%",
							ad_height = "100%";
					</script>
					<script type="application/javascript" src="https://a.realsrv.com/ads.js"></script>
					<noscript>
						<iframe
							src="https://syndication.realsrv.com/ads-iframe-display.php?idzone=4085804&output=noscript"
							width="100%" height="100%" scrolling="no" marginwidth="0" marginheight="0"
							frameborder="0"></iframe>
					</noscript>
				</div>
			</div>
			<div class="fAds">
				<div class="fbl1B fbl1B1">
					<script type="application/javascript">
						var ad_idzone = "4085808",
							ad_width = "100%",
							ad_height = "100%";
					</script>
					<script type="application/javascript" src="https://a.realsrv.com/ads.js"></script>
					<noscript>
						<iframe
							src="https://syndication.realsrv.com/ads-iframe-display.php?idzone=4085808&output=noscript"
							width="100%" height="100%" scrolling="no" marginwidth="0" marginheight="0"
							frameborder="0"></iframe>
					</noscript>
				</div>
				<div class="fbl1B fbl1B2">
					<script type="application/javascript">
						var ad_idzone = "4085810",
							ad_width = "100%",
							ad_height = "100%";
					</script>
					<script type="application/javascript" src="https://a.realsrv.com/ads.js"></script>
					<noscript>
						<iframe
							src="https://syndication.realsrv.com/ads-iframe-display.php?idzone=4085810&output=noscript"
							width="100%" height="100%" scrolling="no" marginwidth="0" marginheight="0"
							frameborder="0"></iframe>
					</noscript>
				</div>
			</div>
			<div class="fAds">
				<div class="fbl1C fbl1C1">
					<script type="application/javascript">
						var ad_idzone = "4085814",
							ad_width = "100%",
							ad_height = "100%";
					</script>
					<script type="application/javascript" src="https://a.realsrv.com/ads.js"></script>
					<noscript>
						<iframe
							src="https://syndication.realsrv.com/ads-iframe-display.php?idzone=4085814&output=noscript"
							width="100%" height="100%" scrolling="no" marginwidth="0" marginheight="0"
							frameborder="0"></iframe>
					</noscript>
				</div>
				<div class="fbl1C fbl1C2">
					<script type="application/javascript">
						var ad_idzone = "4085818",
							ad_width = "100%",
							ad_height = "100%";
					</script>
					<script type="application/javascript" src="https://a.realsrv.com/ads.js"></script>
					<noscript>
						<iframe
							src="https://syndication.realsrv.com/ads-iframe-display.php?idzone=4085818&output=noscript"
							width="100%" height="100%" scrolling="no" marginwidth="0" marginheight="0"
							frameborder="0"></iframe>
					</noscript>
				</div>
			</div>
		</div>
	</div>
</div>

<div id="refer" class="{body.close}"
	style="width: 99.5%; height: 30px; margin: 10px auto 0; text-align: center; background-color: rgba(128, 128, 128, 0.616)">
	<p style="margin: 0; padding: 5px 0 0">
		<a href="/search?q={body.query}&p={body.next}" class="" id="a"
			style="color: #fff; font-size: 0.9em; text-decoration: none">More Videos</a>
	</p>
</div>